/* حاوية الملف الشخصي */
.profile-container {
    width: 200%;
    align-items: center;
    max-width: 450px;
    margin: 20px auto;
    background: var(--gradient-light);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* العنوان في المنتصف */
.profile-container h1 {
    margin: 0;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center; /* محاذاة النص في المنتصف */
    align-items: center; /* محاذاة الأيقونة والنص بشكل عمودي */
}

/* أيقونة المستخدم */
.user-icon {
    color: #7b4e97;
    font-size: 20px;
    margin-left: 10px; /* المسافة بين الأيقونة والنص */
    cursor: pointer;
}

/* نموذج الإدخال */
.profile-form label {
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 20px 0 5px;
    font-weight: bold;
    color: #7b5ba6;
    font-size: 14px;
    text-align: right;
}

.profile-form label i {
    margin-left: 8px;
    color: #7b5ba6;
}
.profile-form label + div {
    margin-bottom: 10px;
}

.profile-form input,
.profile-form select {
    width: 80%;
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
}

.profile-form input:focus {
    border-color: #7b5ba6;
    box-shadow: 0 0 8px rgba(123, 91, 166, 0.9);
}
.profile-form div i.edit {
    margin-bottom: 4px;
    font-size: 23px;
    color: var(--font-3);
    cursor: pointer;
    transition: var(--transition-seconds);
}
.profile-form div i.edit:hover {
    font-size: 24px;
    color: var(--font-4)
}
.profile-form .error-msg {
    opacity: 0;
}

/* حاوية زر التعديل */
.edit-container {
    display: flex;
    justify-content: center; /* محاذاة الزر في المنتصف */
    margin-top: 20px;
}
/* التأثير عند تمرير الماوس على الزر */
.edit-button:hover {
    background-color: #b391d6; /* تغيير لون الزر عند التمرير */
}