/* Error Message */
/* .alert .btn-close {
    right: unset;
    left: 10px
} */
.sign-container  {
    width: 55%;
    border-color: var(--main-dark) !important;
    box-shadow: 10px;
    position: relative;
    overflow: hidden;
}
.sign-container .circle {
    width: 500px;
    height: 1220px;
    position: absolute;
    background-color: white;
    z-index: -1;
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
}
/* Hello Message */
.sign-container .hello-msg {
    color: var(--font-1);
    background-color: var(--main-dark) !important;
    position: relative;
    z-index: -2;
}
.sign-container .hello-msg .text {
    margin-bottom: 150px;
}
.sign-container .hello-msg p {
    font-size: 18px;
}
.sign-container .hello-msg .mulhem {
    width: 150px;
    bottom: 0;
    right: 70px;
}
/* Form */
.sign-container #sign-up > h2 {
    color: var(--font-4)
}
.sign-container #sign-up .field div {
    flex: 0 0 auto;
    width: 50%;
}
.sign-container #sign-up label {
    color: var(--font-3);
    font-size: 15px;
    display: block;
    margin-bottom: 1.5px;
    align-self: start;
}
.sign-container #sign-up input:not([type="submit"]), 
.sign-container #sign-up input:focus-visible, 
.sign-container #sign-up select {
    width: -webkit-fill-available;
    color: var(--font-4);
    margin-bottom: 10px;
    padding: 4px 10px 4px 4px;
    border-radius: 0.375rem;
    border: 1.5px solid gray;
    outline: none;
}
.sign-container #sign-up input::placeholder, 
.sign-container #sign-up select:invalid {
    font-size: 12px;
    color: gray;
}
.sign-container #sign-up select {
    height: 34.5px;
}
.sign-container #sign-up input[type='submit'] {
    margin-top: 5px;
}
.sign-container #sign-up .error-msg {
    width: max-content;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    color: red;
    opacity: 0;
}

.toggle-password {
    position: absolute;
    left: 10px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 15px;
    color: var(--font-3);
}

/* Have Account */
.have-account p {
    font-size: 14px;
}
.have-account a {
    color: var(--font-3)
}