{% extends "base.html" %}
{% block title %} ملفي الشخصي {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/profile.css') }}">
{% endblock %}
{% block body %} 
<div class="profile-container my-5">
    <h1 class="page-title container mb-4"><i class="fa-solid fa-circle-user user-icon fs-3"></i>ملفي الشخصي</h1>
    <!-- نموذج الإدخال -->
    <form class="profile-form" id="profile-form">
        <label for="first-name">
            <i class="fa-solid fa-user"></i> الاسم الأول :</label>
        <div class="d-flex align-items-center justify-content-center mx-auto">
            <input type="text" name="first-name" maxlength="9" placeholder="جولي" value="{{user.first_name}}" disabled>
        </div>

        <label for="last-name">
            <i class="fa-solid fa-user"></i> الاسم الأخير : </label>
        <div class="d-flex align-items-center justify-content-center mx-auto">
            <input type="text" name="last-name" maxlength="10" placeholder=" الزهراني" value="{{user.last_name}}" disabled>
        </div>

        <label for="age">
            <i class="fa-solid fa-calendar"></i> العمر : </label>
        <div class="d-flex align-items-center justify-content-center mx-auto">
            <input type="number" name="age" min="8" max="11" placeholder=" 9" value="{{user.age}}" disabled>
        </div>

        <label for="gender">
            <i class="fa-solid fa-venus-mars"></i> الجنس : </label>
        <div class="d-flex align-items-center justify-content-center mx-auto">
            <select name="gender" form="profile-form" class="" disabled>    
                <option value="أنثى" {% if user.gender == 'أنثى' %}selected{% endif %}>أنثى</option>
                <option value="ذكر" {% if user.gender == 'ذكر' %}selected{% endif %}>ذكر</option>
            </select>            
        </div>

        <label for="email">
            <i class="fa-solid fa-envelope"></i> الإيميل : </label>
        <div class="d-flex align-items-center justify-content-center mx-auto">
            <input type="email" name="email" placeholder=" LOOD@gmail.com " value="{{user.email}}" disabled>    
        </div>

        <label for="password">
            <i class="fa-solid fa-lock"></i> كلمة المرور : </label>
        <div class="d-flex align-items-center justify-content-center mx-auto">
            <input type="password" name="password" maxlength="12" placeholder="***********" value="***********" disabled>
        </div>
    <div class="edit-container">
    <button class="edit-button button main-button mt-1 px-4" type="button" id="edit-button"> تعديل بياناتي </button>
    </div>
</form>
<div id="message" style="display:none; color: rgb(94, 218, 94); margin-top: 10px;"></div>
</div>
{% endblock %}
{%block script%}
<script>
    // Click On Edit Data
    document.querySelector(".edit-container #edit-button").addEventListener("click", () => {
        window.location.href = '/update_profile'; // Go To Writing Types Page
    })    
</script>
{%endblock%}


