{% extends "base.html" %}
{% block title %} إنشاء حساب{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/profile.css') }}">
{% endblock %}
{% block body %}
<div class="profile-container">
    <!-- نموذج الإدخال -->
    <form class="profile-form">
        <label for="first-name">
            <i class="fa-solid fa-pen-to-square"></i> الاسم الأول :</label>
        <input type="text" id="first-name" placeholder="">

        <label for="last-name">
            <i class="fa-solid fa-pen-to-square"></i> الاسم الأخير : </label>
        <input type="text" id="last-name" placeholder=" ">

        <label for="age">
            <i class="fa-solid fa-calendar"></i> العمر : </label>
        <input type="number" id="age" placeholder=" 9">

        <label for="gender">
            <i class="fa-solid fa-venus-mars"></i> الجنس : </label>
        <input type="text" id="gender" placeholder="أنثى">

        <label for="email">
            <i class="fa-solid fa-envelope"></i> الإيميل : </label>
        <input type="email" id="email" placeholder=" LOOD@gmail.com ">

        <label for="password">
            <i class="fa-solid fa-lock"></i> كلمة المرور : </label>
        <input type="password" id="password" placeholder="*********">

        <label for="favorite-color">
            <i class="fa-solid fa-palette"></i> اللون المفضل : </label>
        <input type="text" id="favorite-color" placeholder="أدخل لونك المفضل">

        <label for="categories">
            <i class="fa-solid fa-star"></i> التصنيفات المفضلة :  </label>
        <input type="text" id="categories" placeholder="أدخل تصنيفاتك المفضلة">

    <div class="save-container">
    <button class="save-button"> حفظ </button>
    </div>
</form>
</div>
{% endblock %}

