{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/sign-up.css') }}">
{% endblock %}
{% block body %}
<div class="sign-container w-50 d-flex justify-space-between my-5 mx-auto border rounded-2">
    <div class="message w-50 rounded-end-2">
        <h4>مرحبا بك</h4>
    </div>
    <form method="POST" id="sign-up" class="d-flex flex-column align-items-center mx-auto py-4 ">
        <label for="name">الأسم الأول</label>
        <input type="text" name="f_name" min="2" maxlength="30" placeholder="أدخل اسمك الأول">

        <label for="name">الأسم الأخير</label>
        <input type="text" name="l_name" min="2" maxlength="30" placeholder="أدخل اسمك الأخير">

        <label for="name">العمر</label>
        <input type="number" name="age" minlength="4" maxlength="20" placeholder="أدخل عمرك">

        <label for="gender">الجنس</label>
        <select name="gender" form="sign-up" class="w-100" aria-placeholder="dkf">    
            <option value="" disabled selected hidden>اختر..</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <label for="name">البريد الإلكتروني</label>
        <input type="email" name="email" placeholder="أدخل بريدك الإلكتروني">
        
        <label for="name">كلمة المرور</label>
        <input type="password" name="password" placeholder="أدخل كلمة المرور">

        <label for="name">تأكيد كلمة المرور</label>
        <input type="password" name="password2" placeholder="تأكيد كلمة المرور">

        <input type="submit" value="إنشاء حساب" class="button main-button">
    </form>
</div>
{% endblock %}