.story-container {
  max-width: 600px;
  margin: auto;
  background-color: #dbcef6;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(197, 154, 190, 0.1);
}

.story-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.story-label {
 font-size: medium;
  color: #7b5ba6;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.story-input-text, .story-input-select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #cfcaca;
  border-radius: 5px;
  font-size: 16px;
}

.story-characters-group {
  margin-top: 10px;
}

.story-character-row {
  display: flex;
  gap: 10px;
  margin-bottom: 9px;
}

.story-character-name, .story-character-description {
  flex: 1;
}

.story-btn-small, .story-btn-main {
  margin: 10px 0;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.story-btn-small {
  background-color: #7b4e97;
  color: #fff;
}

.story-btn-small:hover {
  background-color: #7b4e97;
}

.story-btn-main {
  display: block;
  margin: 20px auto; /* التمركز في المنتصف */
  padding: 10px 25px; /* حجم مناسب */
  background-color: #7b4e97;
  color: #fff;
  font-size: 16px;
}

.story-btn-main:hover {
  background-color: #7b4e97;
}

.story-btn-main:active {
  transform: scale(0.98);
}

.story-spacing {
  margin-top: 20px;
}