.self-writing  {
  background-color: var(--main-light);
}
.self-writing audio.text-audio {
  height: 35px;
  width: 230px;
}
.self-writing .book-container {
  padding-right: 240px !important;
  background-color: var(--main-light);
}
/* @@@@@@ Next And Prev Buttons @@@@@@ */
.self-writing #nextButton,
.self-writing #prevButton {
  font-size: 40px;
  opacity: 50%;
  cursor: pointer;
  color: var(--font-3)
}
.self-writing #nextButton:hover,
.self-writing #prevButton:hover {
  opacity: 100%;
}
.self-writing #prevButton {
  display: none;
} 
.scene {
  width: 30%;
  height: 50%; 
  margin: auto; 
  perspective: 1000px;
}
.error-msg {
  font-size: 14px;
  text-align: center;
  opacity: 0;
  color: red;
  transition: var(--transition-seconds);
}
.book {
  position: relative;
  width: 450px;
  height: 470px !important;
  transform-style: preserve-3d;
  text-align: center;
  border-right: 10px solid var(--font-3);
    border-radius: 0px 10px 10px 0px;
}

.page {
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  transition: 1.5s transform;
  transform: translateZ(-1px);
  transform-style: preserve-3d;  
}
.page.flipped {
  transform: translateZ(0) rotateY(180deg); /* غير الاتجاه */
}

.page.active {
  z-index: 1;
  transform: translateZ(0);
}
.page {
  transform-origin: right center; /* اجعل نقطة الدوران من اليمين */
}
.page.flipped:last-of-type {
  z-index: 1;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5% 3%; /* تقليل الحشو */
  backface-visibility: hidden;
  background: linear-gradient(to bottom right, #fff, #ccc);
  border-style: solid;
  border-color: var(--font-3);
}

/* @@@@@@ Back @@@@@@ */
.back {
  transform: rotateY(180deg);
  border-width: 2px 2px 2px 1.5px;
  border-radius: 0px 10px 10px 0px;
  
}
.back .text {
  text-align: right;
  padding: 10px;
  padding-left: 5px;
  margin: 20px auto 0px;
  height: 80%;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: var(--font-3);
  border-radius: 20px;
  border: 1px solid black;
  overflow: hidden;
}
.back .text:focus {
  outline: none;
}
/* Correcting Words */
.back .text .spelling-error {
  color: red;
  text-decoration: underline;
  text-decoration-style: wavy;
  cursor: pointer;
}
.back .text .grammer-error {
  color: blue
}
.back #error-msg {
  display: block;
  opacity: 0;
  color: red
}
.back .correction-word {
    display: none;
    font-size: 15px;
    padding: 2px;
    width: fit-content;
    border-radius: 5px;
    border: 2px solid transparent;
    position: absolute;
    top: 4px;
    right: 32%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition-seconds);
  }
  .back .correction-word:hover {
    color: var(--font-3);
    border: 2px solid #ccc;
}

/* Counter & Audio */
.back .counter-sound {
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.back .text-counter {
  height: 20px;
  width: 150px;
  text-align: right;
  font-size: 16px;
  color: var(--font-4);
}

/* @@@@@@ Front @@@@@@ */
.front {
  border-width: 2px 1.5px 2px 2px;
  border-radius: 10px 0px 0px 10px;
}
.front .img-container {
  width: 80%;
  height: 60%;
  margin: 3rem auto 2rem;
  border-radius: 1rem;
  border: 1px solid rgb(179 145 217 / 60%);
  box-shadow: 0px 0px 20px 10px rgb(144 144 145 / 20%);
  /* background-color: rgb(144 144 145 / 20%); */
}
.front .img-container img {
  width: 100%;
  border-radius: 1rem;
}
.front .error-msg {
  opacity: 0;
  color: red;
}
.front .generate-btn {
  border: 2px solid white;
  color: var(--font-1);
  background-color: var(--main-dark);
  margin: .5rem auto;
}
.front .generate-btn:hover {
  color: var(--font-4);
}





/* @@@@@@ Sitting Buttons @@@@@@ */
.self-writing button {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 5px 8px;
    border-radius: 10px;
    border: 2px solid white;
    color: var(--font-1);
    background-color: var(--main-dark);
    transition: var(--transition-seconds);
}
.self-writing button:disabled {
  opacity: 50%;
}
.self-writing button:hover:not(:disabled), 
.self-writing button:active {
  color: var(--font-4) !important;
  border: 2px solid var(--font-4) !important;
  background-color: var(--main-dark) !important;
}

.self-writing button i {
  font-size: 18px;
  margin-left: 5px;
}
/* @@@@@@ Allam Dropdown @@@@@@ */
.dropdown.allam-help  ul.dropdown-menu {
  padding: 0;
}
.dropdown.allam-help .dropdown-item {
  padding: 4px 8px;
  cursor: pointer;
  transition: var(--transition-seconds);
  border-bottom: 1px solid var(--font-3);
}
.dropdown.allam-help .dropdown-item:hover {
  color: var(--font-3);
  background-color: #d6d8da;
}
.dropdown.allam-help .dropdown-item:not(:last-of-type) {
  border-bottom: 1px solid var(--font-3);
}
.dropdown.allam-help .dropdown-toggle::after {
  margin-right: 5px;
}
/* @@@@@@ Response Square White @@@@@@ */
.self-writing .response h3 {
  color: var(--font-4);
}
.self-writing .response {
  width: 90%;
  display: none;
}
.self-writing .response .close-icon {
  font-size: 30px;
  color: var(--font-4);
  cursor: pointer;
  transition: var(--transition-seconds);
  top: -12px;
  left: -18px;
}
.self-writing .response .close-icon:hover {
  color: var(--main-dark);
}
/* @@@@@@ Starting Ideas @@@@@@ */
.self-writing .response-starting {
  height: 290px;
}
.response-starting .carousel {
  background-color: #dbcef645
}
.response-starting .carousel .carousel-indicators {
  top: 150px
}
.response-starting .carousel .carousel-indicators button {
  pointer-events: none;
}
.response-starting .carousel-item {
  color: var(--font-3)
}
.response-starting .carousel-item p {
  margin-top: 15px;
  font-size: 20px;
  color: var(--font-4);
  font-weight: 400;
}
.response-starting .carousel .carousel-control-prev,
.response-starting .carousel .carousel-control-next {
  font-size: 40px;
  color: var(--font-3);
  background-color: transparent;
  border: none;
}
.response-starting .carousel .carousel-control-prev i,
.response-starting .carousel .carousel-control-next i {
  font-size: 40px;
  
}
.response-starting .carousel .carousel-control-prev:hover,
.response-starting .carousel .carousel-control-next:hover {
  color: var(--font-3) !important;
    border: none !important;
    background-color: transparent !important;
}
.response-starting .carousel .carousel-control-next {
  left: -30px !important;
  right: auto !important;
}
.response-starting .carousel .carousel-control-prev {
  right: -30px !important;
  left: auto !important;
}
.response-starting .carousel .carousel-indicators button {
  background-color: var(--font-3);
}
/* @@@@@@ Story Elemetns @@@@@@ */
.self-writing .response-elements .elements > div {
  color: var(--font-4);
  display: flex;
}
.self-writing .response-elements .elements > div h5{
  color: var(--font-3);
}
/* @@@@@@ Record @@@@@@ */
.record {
  width: fit-content;
}

/* @@@@@@ Sweet Alert @@@@@@ */
.swal2-popup  {
  border-radius: 15px;
  border: 5px solid var(--main-dark);
}
.swal2-popup .swal2-warning {
  font-size: 10px;
    color: #ff6363;
    border-color: #ff6363;
}
.swal2-popup .swal2-info {
    color: #3F51B5;
    border-color: #3F51B5;
}
.swal2-popup .swal2-title {
  color: var(--font-3);
  padding-top: 10px;
}
.swal2-popup .swal2-confirm, 
.swal2-popup .swal2-cancel {
  padding: 8px 13px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  transition: var(--transition-seconds);
  color: var(--font-1);
}
.swal2-popup .swal2-confirm {
  background-color: var(--font-3); 
  background-color: var(--main-dark); 
}


.qr {
  margin: 50px auto;
  max-width: 50%;
}
.qr img {
  display: block;
}


/* Copyright (c) 2024 by Timo Hausmann (https://codepen.io/timohausmann/pen/AaJWvo) */

