.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-dark);
  color: white;
  height: 45px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 0.375rem 0.375rem 0 0  !important;

}
.self-writing  {
  background-color: var(--main-light);
  padding-top: 4.5rem !important;
  border-radius: 0 0 0.375rem 0.375rem !important;
}
.self-writing audio.text-audio {
  height: 35px;
  width: 230px;
}
.self-writing .book-container {
  padding-right: 240px !important;
  background-color: var(--main-light);
}
/* @@@@@@ Next And Prev Buttons @@@@@@ */
.self-writing #nextButton,
.self-writing #prevButton {
  font-size: 40px;
  opacity: 50%;
  cursor: pointer;
  color: var(--font-3);
  transition: var(--transition-seconds);
}
.self-writing #nextButton:hover,
.self-writing #prevButton:hover {
  opacity: 100%;
}
.self-writing #prevButton {
  display: none;
}
 .correction-word {
  display: none;
    font-weight: 500;
    color: var(--font-3);
    border: 2px solid var(--main-dark);
    font-size: 15.5px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    position: absolute;
    top: -42px;
    right: 42%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition-seconds);
    animation: shake 0.5s ease-in-out infinite alternate;
    animation-play-state: paused;
}
.correction-word:hover {
  color: #1959e0;
  border: 2px solid #1959e0;
  font-size: 15.8px;
} 
.scene {
  width: 30%;
  height: 50%; 
  margin: auto; 
  perspective: 1000px;
}
.error-msg {
  font-size: 14px;
  text-align: center;
  opacity: 0;
  color: red;
  transition: var(--transition-seconds);
}
.book {
  position: relative;
  width: 450px;
  height: 550px !important;
  transform-style: preserve-3d;
  text-align: center;
  border-right: 10px solid var(--font-3);
  border-radius: 0px 10px 10px 0px;
}

.page {
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  transition: 1.5s transform;
  transform: translateZ(-1px);
  transform-style: preserve-3d;  
}
.page.flipped {
  transform: translateZ(0) rotateY(180deg); /* غير الاتجاه */
}

.page.active {
  z-index: 1;
  transform: translateZ(0);
}
.page {
  transform-origin: right center; /* اجعل نقطة الدوران من اليمين */
}
.page.flipped:last-of-type {
  z-index: 1;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5% 3%; /* تقليل الحشو */
  backface-visibility: hidden;
  background: linear-gradient(to bottom right, #fff, #ccc);
  border-style: solid;
  border-color: var(--font-3);
}

/* @@@@@@ Back @@@@@@ */
.back {
  transform: rotateY(180deg);
  border-width: 2px 2px 2px 3px;
  border-radius: 0px 10px 10px 0px;
}
.page .text {
  text-align: right;
  padding: 10px;
  padding-left: 5px;
  margin: 0px auto 15px;
  height: 76%;
  width: 98%;
  font-weight: 400;
  font-size: 18px;
  color: var(--font-3);
  border-radius: 20px;
  border: 1px solid black;
  overflow: hidden;
}
.page .text:focus {
  outline: none;
}
.page .correction-btn {
  margin: 10px auto 0;
}
/* Correcting Words */
.page .text .error-word {
  color: red;
  text-decoration: underline;
  text-decoration-style: wavy;
  cursor: pointer;
  transition: .3s;
  opacity: 70%;
}
.page .text .error-word:hover {
  font-size: 19px;
  opacity: 1;
}
.page .text .grammer-error {
  color: blue
}


/* Counter & Audio */
.page .counter-sound {
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 2px;
}
.page .text-counter {
  opacity: 0;
  height: 20px;
  width: 160px;
  text-align: right;
  font-size: 16px;
  color: var(--font-4);
}

/* @@@@@@ Front @@@@@@ */
.front {
  border-width: 2px 1.5px 2px 2px;
  border-radius: 10px 0px 0px 10px;
}
.front .title {
  width: 90%;
  background-color: transparent;
  border: 2px solid var(--font-3);
  text-align: center;
  color: var(--font-3);
  transition: var(--transition-seconds);
}
.front .title::placeholder {
  color: var(--font-3);
  opacity: 80%;
}
.front .title:focus-visible {
  outline: none;
  box-shadow: rgb(227 204 232) 0px 3px 8px
}

.front .img-container {
  width: 388px;
  height: 388px;
  margin: 1rem auto 8px;
  border-radius: 1rem;
  border: 1px solid rgb(179 145 217 / 60%);
  box-shadow:rgb(227 204 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset
  /* background-color: rgb(144 144 145 / 20%); */
}
.front .img-container img {
  width: 100%;
  border-radius: 1rem;
}
.front .error-msg {
  opacity: 0;
  color: red;
  transition: var(--transition-seconds);
}
.cover-page .buttons {
  margin-top: 18px;
}
.cover-page .buttons button {
  border: 2px solid white;
  color: var(--font-1);
  background-color: var(--main-dark);
  margin: 0 8px;  
  display: none;
  font-size: 16px;
  font-weight: 500;
}
.page .buttons button.active {
  display: block;
}
.cover-page .buttons  input[type="file"] {
  appearance: none; /* لإخفاء الشكل الافتراضي */
  display: none;
  -webkit-appearance: none; /* لدعم المتصفحات القديمة */
  color: transparent; /* إخفاء النص */
}
.cover-page .buttons  input[type="file"]::file-selector-button {
  appearance: none; 
}




/* @@@@@@ Sitting Buttons @@@@@@ */
.self-writing button {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 8px;
    border-radius: 10px;
    border: 2px solid white;
    color: var(--font-1);
    background-color: var(--main-dark);
    transition: var(--transition-seconds);
}
.self-writing button:disabled {
  opacity: 50%;
}
.self-writing button:hover:not(:disabled), 
.self-writing button:active {
  /* color: var(--font-4) !important; */
  border: 2px solid var(--font-3) !important;
  background-color: var(--main-dark) !important;
  font-size: 17px;
}

.self-writing button i {
  font-size: 18px;
  margin-left: 5px;
  transition: var(--transition-seconds);
}
/* @@@@@@ Allam Dropdown @@@@@@ */
.dropdown.allam-help {
  z-index: 1;
}
.dropdown.allam-help  ul.dropdown-menu {
  padding: 0;
}
.dropdown.allam-help .dropdown-item {
  padding: 4px 8px;
  cursor: pointer;
  transition: var(--transition-seconds);
  border-bottom: 1px solid var(--font-3);
}
.dropdown.allam-help .dropdown-item:hover {
  color: var(--font-3);
  background-color: #d6d8da;
}
.dropdown.allam-help .dropdown-item:not(:last-of-type) {
  border-bottom: 1px solid var(--font-3);
}
.dropdown.allam-help .dropdown-toggle::after {
  margin-right: 5px;
}
.dropdown.allam-help img.mulhem {
  top: -195px;
  right: -120px;
  width: 260px;
  z-index: -1;
}
/* @@@@@@ Response Square White @@@@@@ */
.self-writing .response {
  margin-top: 3.5rem !important;
}
.self-writing .response h3 {
  color: var(--font-4);
}
.self-writing .response {
  width: 90%;
  display: none;
}
.self-writing .response .close-icon {
  font-size: 30px;
  color: var(--font-4);
  cursor: pointer;
  transition: var(--transition-seconds);
  top: -12px;
  left: -18px;
}
.self-writing .response .close-icon:hover {
  color: var(--main-dark);
}
/* @@@@@@ Starting Ideas @@@@@@ */
.self-writing .response-starting {
  height: 290px;
}
.response-starting .carousel {
  background-color: #dbcef645
}
.response-starting .carousel .carousel-indicators {
  top: 150px
}
.response-starting .carousel .carousel-indicators button {
  pointer-events: none;
}
.response-starting .carousel-item {
  color: var(--font-3)
}
.response-starting .carousel-item p {
  margin-top: 15px;
  font-size: 20px;
  color: var(--font-4);
  font-weight: 400;
}
.response-starting .carousel .carousel-control-prev,
.response-starting .carousel .carousel-control-next {
  font-size: 40px;
  color: var(--font-3);
  background-color: transparent;
  border: none;
}
.response-starting .carousel .carousel-control-prev i,
.response-starting .carousel .carousel-control-next i {
  font-size: 40px;
  
}
.response-starting .carousel .carousel-control-prev:hover,
.response-starting .carousel .carousel-control-next:hover {
  color: var(--font-3) !important;
    border: none !important;
    background-color: transparent !important;
}
.response-starting .carousel .carousel-control-next {
  left: -30px !important;
  right: auto !important;
}
.response-starting .carousel .carousel-control-prev {
  right: -30px !important;
  left: auto !important;
}
.response-starting .carousel .carousel-indicators button {
  background-color: var(--font-3);
}
/* @@@@@@ Story Elemetns @@@@@@ */
.self-writing .response-elements .elements > div {
  color: var(--font-4);
  display: flex;
}
.self-writing .response-elements .elements > div h5{
  color: var(--font-3);
}
.self-writing .response-elements .elements span.red {
  color: #ff8080
}
/* @@@@@@ Story Completion @@@@@@ */
.self-writing .response-completion .text {
  color: var(--font-3);
  font-size: 20px;
  font-weight: 500;
}
/* @@@@@@ Record @@@@@@ */
.record {
  width: fit-content;
}
.record #record , .record #stop {
  width: 220px;
  justify-content: center;
}
.record .display-voice-record audio {
  width: 220px;
}

/* @@@@@@ Sweet Alert @@@@@@ */
.swal2-popup  {
  border-radius: 15px;
  border: 5px solid var(--main-dark);
}
.swal2-popup .swal2-warning {
  font-size: 10px;
    color: #ff6363;
    border-color: #ff6363;
}
.swal2-popup .swal2-info {
    color: #3F51B5;
    border-color: #3F51B5;
}
.swal2-popup .swal2-title {
  color: var(--font-3);
  padding-top: 10px;
}
.swal2-popup .swal2-confirm, 
.swal2-popup .swal2-cancel {
  padding: 8px 13px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  transition: var(--transition-seconds);
  color: var(--font-1);
}
.swal2-popup .swal2-confirm {
  background-color: var(--font-3); 
  background-color: var(--main-dark); 
}



.qr {
  margin: 50px auto;
  max-width: 50%;
}
.qr img {
  display: block;
}


/* Copyright (c) 2024 by Timo Hausmann (https://codepen.io/timohausmann/pen/AaJWvo) */

