
.user-stories .no-stories {
    background: var(--gradient-light);;
    color: var(--font-4);
}
.user-stories .no-stories h3 {
    color: var(--font-3);
}
.user-stories .story-box {
    color: var(--font-4);
    border: 3px solid;
    cursor:auto;
}
.user-stories .story-box {
    color: var(--font-4);
    border: 3px solid;
}
.user-stories .story-box:has(.story-type[story-type="كتابة مستقلة"]) {
    border-color: #6BA659;
    box-shadow:  rgba(107, 166, 89, 0.2) 0px 8px 15px
}
.user-stories .story-box .story-type[story-type="كتابة مستقلة"] span {
    color: #6BA659;
}
.user-stories .story-box:has(.story-type[story-type="قصة مُلهِم"]) {
    border-color: var(--font-3);
    box-shadow:  rgba(123, 91, 166, 0.2) 0px 8px 15px
}
.user-stories .story-box .story-type[story-type="قصة مُلهِم"] span {
    color: var(--font-3);
}
.user-stories .story-box:has(.story-type[story-type="قصة معدلة"]) {
    border-color: #596BA6;
    /* border-color: A6599E; */
    box-shadow:  rgba(89, 107, 166, 0.2) 0px 8px 15px
}
.user-stories .story-box .story-type[story-type="قصة معدلة"] span {
    color: #596BA6;
}
.user-stories .buttons button {
    padding: 4px 8px;
    font-weight: 500;
    margin: 0 1px;   
}
.user-stories .buttons button i {
    margin-left: 5px;
}