{% extends "base.html" %}
{% block title %}القراءة{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reading/our_library.css') }}">
{% endblock %}

{% block body %}
    <div class="container our-library-container">
        {% for story in stories %}
        <div div class="story-box" id="{{story['id']}}">
            <img class="cover" src="../../static/{{ story['imgSrc'] }}" alt="صورة الغلاف">
                <p>{{story['title']}}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
<script>
    // Send Reding Type (our_library) To Server
    document.querySelectorAll(".our-library-container .story-box").forEach(story => {
        story.addEventListener("click", async () => {
            try {
                const data = { message: ["our_library",story.getAttribute("id")] }; 
                const response = await fetch('http://127.0.0.1:5000/reading/get-reading-type', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });            
                if (!response.ok) {
                    throw new Error('فشل الاتصال بالخادم. حاول مرة أخرى.');
                }
                const result = await response.json();
                if (result.redirect) {
                    // إعادة التوجيه إلى الرابط المولد
                    window.open(result.redirect, '_blank');
                }
            } catch (error) {
                console.error('حدث خطأ:', error);
            }
        })
    })

</script>
{% endblock %}
