{% extends "base.html" %}

<!-- Page Title -->
{% block title %}
	{% if story.title == None %}
		بدون عنوان
	{% else  %}
		{{story.title}}
	{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/writing/self-writing.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reading/edit_story.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reading/reading_page.css') }}">
{% endblock %}

{% block body %}
<div class="page-title container mt-5 ">صفحة القراءة</div>
<div class="container self-writing reading-page mb-5 p-4 py-5 position-relative" id="{{story.id}}">
	<div class="book-container position-relative">
		<i id="prevButton" class="fa-regular fa-circle-right position-absolute top-50 end-0 me-3 z-3"></i>
		<i id="nextButton" class="fa-regular fa-circle-left position-absolute top-50 start-0 ms-3 z-3"></i>
		<div class="scene">
				<article class="book">
					<section class="page active cover-page">
						<div class="front">
                            <!-- Story Title -->
                            {% if story.title == None %}
							<input class="button title" type="text" name="title" placeholder="عنوان القصة" value="بدون عنوان" disabled>
                            {% else  %}
							<input class="button title" type="text" name="title" placeholder="عنوان القصة" value="{{story.title}}" disabled>
                            {% endif %}

                            <!-- Cover Image -->
							<div class="cover-img-container img-container">
                                {% if story.imgSrc == "" %}
								<div class="cover-img no-cover">لا يوجد غلاف</div> 
                                {% else  %}
								<img class="img cover-img" src="../../static/{{story.imgSrc}}"> 
                                {% endif %}
							</div>
						</div>
						<div class="back">
							<div class="text position-relative">{{story.content[0]}}</div>
							<!-- Put Audio If our_library Story -->
							{% if reading_type == "our_library" %}
							<audio class="w-75 rounded-4 mt-2" controls controlslist="nodownload noplaybackrate">
								<source id="audioSource" src="../../static/{{story.audioSrc[0]}}" type="audio/mpeg">
								المتصفح الخاص بك لا يدعم عنصر الصوت
							</audio>
							{% elif reading_type == "user_stories" %}
							<audio class="w-75 rounded-4 mt-2" controls controlslist="nodownload noplaybackrate">
								<source id="audioSource" src="../../static/{{story.generAudios[0]}}" type="audio/mpeg">
								المتصفح الخاص بك لا يدعم عنصر الصوت
							</audio>
						    {% endif %}
						</div>
					</section>
                    <!-- Loop The Rest Of Pages -->
                    {% for index in range(1, story.content|length, 2) %}
                    <section class="page">
                        <div class="front">
                            <div class="text" contenteditable="true">{{story.content[index]}}</div>

                            <!-- Put Audio If our_library Story -->
                            {% if reading_type == "our_library" %}
								<audio class="w-175 rounded-4 mt-2" controls controlslist="nodownload noplaybackrate">
									<source id="audioSource" src="../../static/{{story.audioSrc[index]}}" type="audio/mpeg">
									المتصفح الخاص بك لا يدعم عنصر الصوت
								</audio>
							{% elif reading_type == "user_stories" %}
							<audio class="w-75 rounded-4 mt-2" controls controlslist="nodownload noplaybackrate">
								<source id="audioSource" src="../../static/{{story.generAudios[index]}}" type="audio/mpeg">
								المتصفح الخاص بك لا يدعم عنصر الصوت
							</audio>
						    {% endif %}

                        </div>
                        <div class="back">
                            <div class="text" contenteditable="true">
                                {% if index + 1 < story.content|length %}
                                    {{ story.content[index + 1] }}
                                {% endif %}
                            </div>

							<!-- Put Audio If our_library Story -->
							{% if reading_type == "our_library" %}
								{% if index + 1 < story.content|length %}
								<audio class="w-75 rounded-4 mt-2" controls controlslist="nodownload noplaybackrate">
									<source id="audioSource" src="../../static/{{story.audioSrc[index + 1]}}" type="audio/mpeg">
									المتصفح الخاص بك لا يدعم عنصر الصوت
								</audio>
								{% endif %}
							{% elif reading_type == "user_stories" %}
								{% if index + 1 < story.content|length %}
								<audio class="w-75 rounded-4 mt-2" controls controlslist="nodownload noplaybackrate">
									<source id="audioSource" src="../../static/{{story.generAudios[index + 1]}}" type="audio/mpeg">
									المتصفح الخاص بك لا يدعم عنصر الصوت
								</audio>
								{% endif %}
							{% endif %}

                        </div>
                    </section>
                    {% endfor %}
				</article>
			</div>
		</div>

		<!-- Recorded Audio -->
		<!-- User Stories Extra Content -->
		{% if reading_type == "user_stories" %}
			{% if story.audioSrc != "" %}
			<div class="record_audio mt-4 mx-auto text-center">
				<audio class="rounded-4" controls controlslist="nodownload noplaybackrate">
					<source id="audioSource" src="../../static/{{story.audioSrc}}" type="audio/mpeg">
					المتصفح الخاص بك لا يدعم عنصر الصوت
				</audio>
			</div>
			{% else %}
			<p class="record_audio no-audio mt-4 mx-auto text-center">لا يوجد صوت مسجل</p>
			{% endif %}
		{% endif %}
		
		<!-- Sittings Buttons -->
        <div class="sitting-buttons d-flex align-items-center justify-content-center column-gap-2 mt-5 position-relative text-center mx-auto">
			<!-- Our Library Extra Content -->
			{% if reading_type == "our_library" %}
				<button class="edit-availble-btn" data-user="{{user.is_authenticated}}">
					<i class="fa-regular fa-pen-to-square"></i>
					تغيير القصة
				</button>
			{% endif %}

			<!-- User Stories Extra Content -->
			{% if reading_type == "user_stories" %}
				<div class="edit-delete_buttons d-flex column-gap-2">
					<button class="edit-user-story">
						<i class="fa-solid fa-pencil"></i>
						تعديل القصة
					</button>
					<!-- <button class="delete-user-story">
						<i class="fa-regular fa-trash-can"></i>
						حذف القصة
					</button> -->
				</div>
			{% endif %}

			<img class="mulhem position-absolute" src="../../static/images/mulhem-read_1.png" alt="ملهم">
		</div>

			<!-- Edit Availble Story -->
		<div class="response edit-availble-story p-4 mx-auto mt-5 bg-white rounded-4 position-relative text-center">
			<i class="fa-solid fa-circle-xmark close-icon position-absolute"></i>
			<div class="edit-story-container m-0 mx-auto">
				<h1> <i class="fa-solid fa-pen user-icon"></i> اضف لمستك الى القصة </h1>   
				<form id="storyForm">
				
				<label class="story-label"> <i class="fa-solid fa-user-minus"></i> احذف شخصية من شخصيات القصة: </label>
				<input type="text" name="deletcharcter" id="deletcharcter" class="story-input" maxlength="200" placeholder="من هي الشخصية؟">
				
				<div id="characters" class="story-characters-group">
				<!-- Initially empty; characters will be added here -->
				</div>
				
				<button type="button" class="story-btn-small" onclick="addCharacter()"> <i class="fa-solid fa-user-plus"></i> إضافة شخصية جديدة </button>
			
				<div class="story-spacing"></div>
				<label class="story-label"> <i class="fa-solid fa-exchange-alt"></i> تغير حدث في القصة:</label>
				<input type="text" name="event" id="event" class="story-input" maxlength="200" placeholder="ما الحدث الذي تود تغيره؟">
				
				<div class="story-spacing"></div>
				<label class="story-label"> <i class="fa-solid fa-pen-to-square"></i> تغير بداية القصة: </label>
				<textarea id="beginning" class="story-input-textarea" maxlength="250" placeholder="كيف ستبدأ القصة؟"></textarea>
				
				<label class="story-label"> <i class="fa-solid fa-pen-to-square"></i> تغير نهاية القصة: </label>
				<textarea id="End" class="story-input-textarea" maxlength="250" placeholder="كيف ستنتهي القصة؟"></textarea>
			
				<div class="error-msg text-center" style="opacity: 0; transition: opacity 0.3s;">يجب إدخال النصوص باللغة العربية فقط</div>
				
				<button type="button" class="story-btn-main" onclick="submitStory()" >أنشئ القصة</button>
			</form>
			</div>
		</div>
</div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const nextButton = document.getElementById('nextButton'); // Next Page Button
        const prevButton = document.getElementById('prevButton'); // Prev Page Button

        nextButton.addEventListener('click', nextPage);
        prevButton.addEventListener('click', prevPage);

        // @@@@@@@@@@@ Next Page Button @@@@@@@@@@@
	function nextPage() {
		prevButton.style.display = "inline-block"; // Display Prev Button
	
		const activePage = document.querySelector('.page.active');
		if (activePage) {
			const nextPage = activePage.nextElementSibling;
			
			// اجعل الصفحة النشطة مقلوبة
			activePage.classList.remove('active');
			activePage.classList.add('flipped');
			
			// تحقق إذا كانت الصفحة التالية موجودة
			if (nextPage && nextPage.classList.contains('page')) {
				nextPage.classList.add('active'); // اجعل الصفحة التالية نشطة
				
				// تعريف المتغير بعد الصفحة التالية
				const afterNextPage = nextPage.nextElementSibling;
				
				if (!afterNextPage || !afterNextPage.classList.contains('page')) {
					nextButton.style.display = "none";
				} else {
					nextButton.style.display = "inline-block";
				}
				
				// Add Page Btn
				// تحقق إذا كان عدد الصفحات 20
				const allPages = document.querySelectorAll('.page');
				const errorMsg = document.querySelector(".sitting-error-msg");
				if (allPages.length > 20) {
					nextButton.style.display = "none";
				}
			}
		}
	}
	
	// @@@@@@@@@@@ Prev Page Button @@@@@@@@@@@
	function prevPage() {
		const flippedPages = document.querySelectorAll('.page.flipped');
		const activePage = document.querySelector('.page.active');
		const previousPage = activePage.previousElementSibling;
		
		nextButton.style.display = "inline-block"; // Display Next Btn

		// If Prev Page Was The Cover, Hide PRev Btn And Delete
		const beforePreviousPage = previousPage.previousElementSibling;
		if (!beforePreviousPage || !beforePreviousPage.classList.contains('page')) {
			prevButton.style.display = "none"; // Hide Prev Button			
		}
		
		// Move The Page
		if (flippedPages.length > 0) {
			// اجعل آخر صفحة مقلوبة نشطة مرة أخرى
			const lastFlippedPage = flippedPages[flippedPages.length - 1];
			lastFlippedPage.classList.remove('flipped');
			lastFlippedPage.classList.add('active');
			
			// إزالة حالة النشط من جميع الصفحات الأخرى
			const allPages = document.querySelectorAll('.page');
			allPages.forEach((page) => {
				if (page !== lastFlippedPage) {
					page.classList.remove('active');
				}
			});
		}
	}

	// @@@@@@@@@@@ Edit User Story @@@@@@@@@@@
	var editUserBtn = document.querySelector("button.edit-user-story");
	if (editUserBtn != null) {
		editUserBtn.addEventListener("click", () => {
			// جلب معرف القصة من عنصر HTML
			const storyId = document.querySelector(".self-writing").getAttribute("id");
	
			// إعادة التوجيه إلى صفحة التعديل مع معرف القصة
			window.location.href = `/edit_user_story?storyID=${storyId}`;
		});
	}
	
})

	// @@@@@@@@@@@ Add Character Button In Edit Story @@@@@@@@@@@
	function addCharacter() {
		const charactersDiv = document.getElementById("characters");
		const characterInputs = charactersDiv.querySelectorAll(".story-character-row");
		
		if (characterInputs.length < 3) {
			const newRow = document.createElement("div");
			newRow.className = "story-character-row";
		
			const nameInput = document.createElement("input");
			nameInput.type = "text";
			nameInput.className = "story-input story-character-name";
			nameInput.placeholder = `اسم الشخصية ${characterInputs.length + 1}...`;
		
			const descInput = document.createElement("input");
			descInput.type = "text";
			descInput.className = "story-input story-character-description";
			descInput.placeholder = `وصف الشخصية ${characterInputs.length + 1}...`;
		
			newRow.appendChild(nameInput);
			newRow.appendChild(descInput);
			charactersDiv.appendChild(newRow);
		} else {
			alert("يمكنك إضافة 3 شخصيات كحد أقصى!");
		}
	}
		
	// @@@@@@@@@@@ Submit Edit Story @@@@@@@@@@@
	async function submitStory() {
	const errorMsg = document.querySelector(".edit-story-container .error-msg");
	const arabicRegex = /^[\u0600-\u06FF\s.,،؟!:؛()«»"'\-—_…\[\]{}<>*+\/\\|~`^%$#@&0-9\u0660-\u0669]*$/; 
	const storyID = document.querySelector(".reading-page").getAttribute('id');
	
	const AllStory = document.querySelectorAll(".page .text");

	var fullStory = ""; // تعريف مصفوفة لتخزين النصوص
	AllStory.forEach(text => {
		const trimmedText = text.textContent.trim();
		if (trimmedText) { // التحقق من أن النص ليس فارغًا
			fullStory += trimmedText + " "; // دمج النصوص في نص واحد مع إضافة مسافة للفصل
		}
	});
	
	// Collect character data
	const addNewCharacters = [...document.querySelectorAll(".story-character-row")].map(row => ({
		name: row.querySelector(".story-character-name").value.trim(),
		description: row.querySelector(".story-character-description").value.trim(),
	}));
	
	// Collect other inputs
	const deleteCharacter = document.getElementById("deletcharcter").value.trim();
	const changeEvent = document.getElementById("event").value.trim();
	const changebeginning = document.getElementById("beginning").value.trim();
	const changeEnding = document.getElementById("End").value.trim();
	
	// Check if at least one input is filled
	if (!deleteCharacter && !changeEvent && !changebeginning && !changeEnding && addNewCharacters.every(c => !c.name)) {
		errorMsg.style.opacity = 1;
		errorMsg.innerHTML = "يجب إدخال نص واحد على الأقل.";
		return; // Exit the function
	}
	
	// Check if all inputs are in Arabic
	else if (![deleteCharacter, changeEvent, changebeginning, changeEnding ].concat(addNewCharacters.map(c => c.name)).every(text => arabicRegex.test(text))) {
		errorMsg.style.opacity = 1;
		errorMsg.innerHTML = "يجب إدخال النصوص باللغة العربية فقط";
		return; // Exit the function
	}
	// Check if forbidden words
	else if ([deleteCharacter, changeEvent, changebeginning, changeEnding]
	.concat(addNewCharacters.map(c => c.name))
	.some(text => checkForbiddenWords(text))) {
	return;
	}
	else {
		errorMsg.style.opacity = 0; // Clear error message
	}


	// Create the object only with non-empty values
	const storyElements = {};

	if (addNewCharacters.length > 0) {
		storyElements["إضافة شخصية جديدة"] = addNewCharacters.map(char => ({
			"الاسم": char.name,
			"وصف الشخصية": char.description,
		}));
	}
	if (deleteCharacter) {
		storyElements["حذف شخصية"] = deleteCharacter;
	}
	if (changeEvent) {
		storyElements["تغيير الحدث"] = changeEvent;
	}
	if (changebeginning) {
		storyElements["تغيير البداية"] = changebeginning;
	}
	if (changeEnding) {
		storyElements["تغيير النهاية"] = changeEnding;
	}
	console.log(storyElements,"")

	// Send To Allam
	const data = { message: [fullStory,storyElements,storyID] };

	// إظهار رسالة التحميل
	Swal.fire({
		title: 'جاري تعديل القصة...',
		text: 'الرجاء الانتظار قليلاً',
		allowOutsideClick: false,
		showConfirmButton: false,
		didOpen: () => {
			Swal.showLoading(); // عرض المؤشر الدائري
		}
	});
	try {
		const response = await fetch('http://127.0.0.1:5000/allam-edit-aval-story', {
			method: 'POST',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(data),
		});
		
		Swal.close(); // إغلاق رسالة التحميل
		
		if (!response.ok) {
			throw new Error('فشل الاتصال بالخادم. حاول مرة أخرى.');
		}
		
		// محاولة تحليل الرد كـ JSON
		let responseData;
			try {
				responseData = await response.json();
				console.log(responseData,"responseData")
			} catch (jsonError) {
				throw new Error('رد غير صالح من الخادم. تأكد أن الخادم يعيد JSON.');
			}
			
			// Show success message
			Swal.fire({
				title: 'تم تعديل القصة!',
				text: 'سيتم إعادة توجيهك لصفحة الكتابة',
				icon: 'success',
				confirmButtonText: 'موافق',
				reverseButtons: true,
			});
			
			// التحقق من وجود رابط إعادة توجيه لصفحة الكتابة في الرد
			if (responseData.redirect) {
				setTimeout(() => {window.location.href = responseData.redirect;},1000)  // تحديث الصفحة الجديدة بدون إضافتها إلى سجل التاريخ
			} else {
				// عرض القصة إذا لم يتم إرسال رابط إعادة توجيه
				Swal.fire({
				title: 'تم!',
				html: `<div style="text-align: right; white-space: pre-line;">${responseData.response}</div>`,
				icon: 'success',
				confirmButtonText: 'موافق',
				reverseButtons: true,
				});
			}
			} catch (error) {
			Swal.close();
			Swal.fire({
				title: 'خطأ!',
				text: error.message,
				icon: 'error',
				confirmButtonText: 'موافق',
				reverseButtons: true,
			});
		}
	}

	var editAvalForm = document.querySelector(".edit-availble-story.response");
	var editAvalStoryBtn = document.querySelector(".sitting-buttons .edit-availble-btn");
	if (editAvalStoryBtn) {
		editAvalStoryBtn.addEventListener("click", (e) => {
			e.preventDefault(); // Prevent page reload
	
			// Check If User Is Logged In
			if (editAvalStoryBtn.getAttribute("data-user") == "True") {
				editAvalForm.style.display = "block";
				// Go Down To completion
				const offset = window.innerHeight * 0.1; // 10% من ارتفاع الشاشة
				window.scrollTo({ 
					top: editAvalForm.getBoundingClientRect().top + window.pageYOffset - offset, 
					behavior: 'smooth' 
				});
			} 
			else {
				Swal.fire({
					title: 'تعديل القصة',
					text: 'يجب عليك تسجيل الدخول لتتمكن من تغيير القصة',
					icon: 'info',
					showCancelButton: true,
					confirmButtonText: 'تسجيل الدخول',
					cancelButtonText: 'عودة للقراءة',
					reverseButtons: true // Swaps the position of confirm and cancel buttons
				}).then((result) => { // تأكد من جعل الدالة داخل then متزامنة
					if (result.isConfirmed) {
						window.location.href = '/login'; // Go To Writing Types Page
					}
				});
			}	
		});
	}
	
	// Click On Close Edit Availble
	document.querySelector(".edit-availble-story.response .close-icon").addEventListener("click", () => {
		editAvalForm.style.display = "none";
		window.scrollBy({top: -420});	
	});
	


	// To Fix Third Page Space
	document.querySelectorAll(".page .back .text").forEach(text => {
		text.innerText = text.innerText.trim()
	})

</script>
{% endblock %}
