{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reading/our_library.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/writing/user-stories.css') }}">
{% endblock %}

{% block body %}
<div class="container user-stories our-library-container" >

    <!-- If No Story -->
    {% if stories|length == 0 %}
    <div class="no-stories p-4 rounded-4 text-center">
        <h3>لا توجد قصص حتى الان!</h3>
        <p class="my-4 fs-5">ابدأ الآن بكتابة قصتك الأولى وشاركنا خيالك المدهش.! 🌟</p>
        <a href="../writing/writing-types"><button class="go-write button main-button mt-3">اذهب لصفحة الكتابة</button></a>
    </div>
    {% endif %}

{% for story in stories %}
    <div class="story-box" >
                <!-- Cover Image -->
                {% if story['imgSrc'] is none or story['imgSrc'] | trim == "" %}
                <div class="no-cover cover">
                    لا يوجد غلاف
                </div>
                <div>{{ story['imgSrc'] }}</div>
                {% else %}
                <img class="cover" src="/static/{{ story['imgSrc'] }}" alt="صورة الغلاف">
                {% endif %}

                <!-- Title -->
                {% if story['title'] == None %}
                <p>بدون عنوان</p>
                {% else  %}
                <p>{{story['title']}}</p>
                {% endif %}

                <!-- Story Type -->
                <p class="story-type" story-type="{{story['type']}}">نوع القصة: <span>{{story['type']}}</span></p>
                <div class="buttons text-center mt-3">
                    <button class="button main-button read-btn" id="{{story['id']}}"><i class="fa-solid fa-book-open"></i>قراءة</button>
                    <button class="button main-button edit-user-story" id="{{story['id']}}"><i class="fa-solid fa-pencil"></i>تعديل</button>
                    <button class="button main-button delete-story" id="{{story['id']}}"><i class="fa-solid fa-trash-can"></i>حذف</button>
                </div>
        </div>
        
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
<script>
    // Send Reding Type (user_stories) To Server
    document.querySelectorAll(".user-stories .story-box .buttons .read-btn").forEach(story => {
        story.addEventListener("click", async () => {
            try {
                const data = { message: ["user_stories",story.getAttribute('id')] }; 
                const response = await fetch('http://127.0.0.1:5000/reading/get-reading-type', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });            
                if (!response.ok) {
                    throw new Error('فشل الاتصال بالخادم. حاول مرة أخرى.');
                }
                const result = await response.json();
                if (result.redirect) {
                    // إعادة التوجيه إلى الرابط المولد
                    window.open(result.redirect, '_blank');
                }
            } catch (error) {
                console.error('حدث خطأ:', error);
            }
        })
    })

    
    // Click On Edit Story
    // @@@@@@@@@@@ Edit User Story @@@@@@@@@@@
	var allEditBtn = document.querySelectorAll(".buttons .edit-user-story");
    allEditBtn.forEach(btn => {
        btn.addEventListener("click", () => {
            // إعادة التوجيه إلى صفحة التعديل مع معرف القصة
            window.location.href = `/edit_user_story?storyID=${btn.getAttribute('id')}`;
        });
    })
    
    // Click On Delete Story
	var allDeleteBtn = document.querySelectorAll(".buttons .delete-story");
    allDeleteBtn.forEach(btn => {
        btn.addEventListener("click", async () => {
            // Warn Message
            Swal.fire({
                title: 'حذف القصة',
                text: 'هل أنت متأكد أنك تريد حذف هذه القصة لا يمكن التراجع عن هذا الإجراء.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'نعم، احذفها',
                cancelButtonText: 'إلغاء',
                reverseButtons: true, // تبديل أماكن الأزرار
            }).then(async (result)  => {
                if (result.isConfirmed) {
                    // Send Story ID
                    const data = { message: btn.getAttribute('id')  };
                    try {
                        // Show loading alert
                        Swal.fire({
                            title: 'جاري حذف قصتك...',
                            text: 'الرجاء الانتظار قليلاً',
                            allowOutsideClick: false,
                            showConfirmButton: false,
                            didOpen: () => {
                                Swal.showLoading(); // عرض المؤشر الدائري
                            }
                        });
                        // Send data to the server
                        const response = await fetch('http://127.0.0.1:5000/delete-user-story', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(data)
                        });
                        // Handle response
                        if (response.ok) {
                            Swal.fire('تم حذف القصة!', '', 'success');
                            btn.closest('.story-box').remove(); // إزالة القصة من الصفحة
                            return true;
                        } else {
                            Swal.fire({
                                title: 'فشل حذف القصة',
                                text: 'حدث خطأ أثناء تحديث القصة.',
                                icon: 'error',
                                confirmButtonText: 'حاول مرة أخرى'
                            });
                        }
                    } catch (error) {
                        Swal.fire({
                            title: 'فشل الحذف',
                            text: 'حدث خطأ أثناء التواصل مع الخادم',
                            icon: 'error',
                            confirmButtonText: 'حسنا' // تغيير النص إلى "حسنا"
                        });
                        console.error(error);
                    }




                } else {
                    console.log('تم إلغاء عملية الحذف.');
                }
            });
        });


    })
    
</script>
{% endblock %}
