{% extends "base.html" %}
{% block title %} أنواع الكتابة {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/writing/writing-types.css') }}">
{% endblock %}
{% block body %}
<div class="writing-types container mx-auto my-5 py-5 g-5 d-flex justify-content-center column-gap-5">
    {% if user.is_authenticated and user.gender == "أنثى" %}
            {% set story_types = [
                {'name': 'مولد القصة', 'class': 'generator', 'icon': 'fa-solid fa-gears', 'description': 'كل ما عليكِ فعله هو إدخال عناصر القصة التي ترغبين بها، وسيقوم ملهم بكتابة قصة رائعة لكِ!', 'path': '../writing/story-generator', 'mulhem': '../../static/images/mulhem-write.png'},
                {'name': 'كتابة مستقلة', 'class': 'self', 'icon': 'fa-solid fa-child-reaching', 'description': 'ستكتبين القصة بنفسكِ، وسيقوم ملهم بمساعدتكِ في الأخطاء والإكمال والتحقق من عناصر قصتك!', 'path': '../writing/self-writing', 'mulhem': '../../static/images/mulhem-no-crown.png'}
            ] %}
    {% else %}
        {% set story_types = [
            {'name': 'مولد القصة', 'class': 'generator', 'icon': 'fa-solid fa-gears', 'description': 'كل ما عليك فعله هو إدخال عناصر القصة التي ترغب بها، وسيقوم ملهم بكتابة قصة رائعة لك!', 'path': '../writing/story-generator', 'mulhem': '../../static/images/mulhem-write.png'},
            {'name': 'كتابة مستقلة', 'class': 'self', 'icon': 'fa-solid fa-child-reaching', 'description': 'ستكتب القصة بنفسك، وسيقوم ملهم بمساعدتك في الأخطاء والإكمال والتحقق من عناصر قصتك!', 'path': '../writing/self-writing', 'mulhem': '../../static/images/mulhem-no-crown.png'}
        ] %}
        {% for type in story_types %}
            <a class="type mt-0 {{ type.class }} p-3 py-4 px-4 rounded-4 text-right" href="{{ type.path }}">
                <div class="d-flex align-items-center">
                    <div class="img-holder position-relative">
                        <img class="mulhem position-absolute" src="{{ type.mulhem }}" alt="ملهم">
                    </div>
                    <div class="type-box">
                        <h2 class="title mb-2">
                            <i class="{{ type.icon }} ms-2"></i>{{ type.name }}
                        </h2>
                        <p class="mb-0">{{ type.description }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}