.edit-story-container {
    max-width: 600px;
    margin: auto;
    background-color: #dbcef6;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(197, 154, 190, 0.1);
  }

  .edit-story-container h1 {
    margin: 0;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center; /* محاذاة النص في المنتصف */
    align-items: center; /* محاذاة الأيقونة والنص بشكل عمودي */
}

/* أيقونة المستخدم */
.user-icon {
    color: #7b5ba6;
    font-size: 20px;
    margin-left: 10px; /* المسافة بين الأيقونة والنص */
    cursor: pointer;
}
  
  
  .edit-story-container .story-label {
   font-size: medium;
    color: #7b5ba6;
    font-weight: bold;
    display: block;
    margin-top: 20px;
  }
  
  .edit-story-container .story-input-textarea, .story-input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #cfcaca;
    border-radius: 5px;
    font-size: 16px;
  }
  .edit-story-container .story-input-textarea, .story-input:focus-visible {
    outline-color: var(--main-very-dark);
  }
  
  .edit-story-container .story-characters-group {
    margin-top: 10px;
  }
  
  .edit-story-container .story-character-row {
    display: flex;
    gap: 10px;
    margin-bottom: 9px;
  }
  
  .edit-story-container .story-character-name, .story-character-description {
    flex: 1;
  }
  
  .edit-story-container .story-btn-small, .story-btn-main {
    margin: 10px 0;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .edit-story-container .story-btn-small {
    background-color: #7b4e97;
    color: #fff;
  }
  
  .edit-story-container .story-btn-small:hover {
    background-color: #7b4e97;
  }
  .edit-story-container .error-msg {
    color: red;
    opacity: 0;
    transition: var(--transition-seconds);
  }
  
  .edit-story-container .story-btn-main {
    display: block;
    margin: 20px auto; /* التمركز في المنتصف */
    padding: 10px 25px; /* حجم مناسب */
    background-color: #7b4e97;
    color: #fff;
    font-size: 16px;
  }
  
  .edit-story-container .story-btn-main:hover {
    background-color: #7b4e97;
  }
  
  .edit-story-container .story-btn-main:active {
    transform: scale(0.98);
  }
  
  .edit-story-container .story-spacing {
    margin-top: 20px;
  }