.reading-page .book {
    height: 490px !important;
}
.reading-page .cover-img-container .no-cover {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    opacity: 60%;
}
.reading-page .book .page .text {
    height: 85%;
    white-space: pre-line;
}

.reading-page .record_audio audio {
    width: 500px;
}
.reading-page .record_audio.no-audio {
    opacity: 60%;
}
.reading-page .sitting-buttons {
    z-index: 1;
}
.reading-page .sitting-buttons .custom-tooltip {
    --bs-tooltip-max-width: 400px !important;
    --bs-tooltip-max-width: 17px !important;
}

.reading-page img.mulhem{
    width: 170px;
    bottom: -85px;
    right: -65px;
    z-index: -1;
}
.reading-page .response.edit-availble-story{
    width: 60%;
}
.reading-page .story-btn-main,
.reading-page .story-btn-small{
    background: none;
    background-color: #7b4e97 !important;
}