{% extends "base.html" %}

{% block title %}الصفحة الرئيسية{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}



{% block landing %}
 <!-- Landing -->
 <div class="home-landing">
  <div class="content container d-flex justify-content-between">

    <!-- Text -->
    <!-- If User Logged In -->
    {% if user.is_authenticated %}
      <div class="text thought w-50">
        {% if user.gender == "أنثى"%}
        <h2 class="mb-4 mt-2">مرحبًا بكِ يا {{user.first_name}} في عالم <span>مُلهِم</span>!</h2>
        <p class="w-75 mx-auto"><p> استمتعي بكتابة قصصك، تطوير مهاراتكِ الإبداعية، <br>واكتشاف عالم القراءة وأنشطة الكتابة الممتعة.<br> قصتكِ بانتظار أن تُكتب!</p></p>
        {% else %}
        <h2 class="mb-4 mt-2">مرحبًا بك يا {{user.first_name}} في عالم <span>مُلهِم</span>!</h2>
        <p class="w-75 mx-auto"><p> استمتع بكتابة قصصك، تطوير مهاراتك الإبداعية، <br>واكتشاف عالم القراءة وأنشطة الكتابة الممتعة.<br> قصتك بانتظار أن تُكتب!</p></p>
        {% endif %}
      </div>
      
      
      <!-- If User Not Logged In -->
      {% else %}
      <div class="text thought un-loged w-50">
        <h2 class="mb-4 mt-2">مرحبا بك في عالم <span>مُلهِم</span></h2>
        <p class="descrip">أنا <span>مُلهِم</span>، دليلك إلى عالم الكتابة والإبداع! هنا يمكنك استكشاف قصص مشوقة ومتنوعة، تحويل أفكارك إلى حكايات رائعة، وتعلّم أساسيات الكتابة بأسلوب ممتع وسهل.</p>      
        <p class="mb-2">سجل دخولك الآن لتبدأ رحلتك الإبداعية!</p>
        <div class="account-buttons">
          <a href="{{ url_for('auth.signUp') }}"><button type="button" class="button main-button ms-1">إنشاء حساب</button></a>
          <a href="{{ url_for('auth.login') }}"><button type="button" class="button main-button">تسجيل الدخول</button></a>
        </div>
      </div>
      {% endif %}



     <!-- Mulhem -->
     <div class="img position-relative">
      <img src="../static/images/mulhem-hi.png" alt="مُلهِم" class="mulhem">
    </div>
    
  </div>

  <div class="wavy"></div>
</div>
{% endblock %}

{% block body %}
<div class="home">
  <div class="section-1 my-5">

  <div class="line-container mb-3">
    <div class="line"></div>

    
    {% if user.is_authenticated and user.gender == "أنثى" %}
      <span class="line-text"> اقرئي القصص وعدّليها</span>
      {% else %}
      <span class="line-text"> اقرأ القصص وعدّلها</span>
    {% endif %}

    <div class="line"></div>
  </div>
  
  <div class ="section-container">
    <div class="story-box our" id="7">
      <a>
          <img src="/static/images/التمرة الضائعة.jpeg" alt="التمرة الضائعة"  height="270px"  width="250px"   max-width="100%" >
          <p>التمرة الضائعة</p>
      </a>
    </div>
  <div class="story-box our" id="9">
    <div calss=" img-e">
    <a>
        <img src="/static/images/علاء الدين.jpeg" alt="علاء الدين"  height="270px"  width="250px"  >
        <p>علاء الدين و المصباح السحري</p>
    </a>
  </div> 
  
  </div>
  <div class="story-box">
    <a href="../reading/our_library" target="_blank">
        <img class="img-icon" src="/static/images/open-book.png" alt=" اقرأ المزيد "  height="270px"  width="250px"   max-width="100%" >
        {% if user.is_authenticated and user.gender == "أنثى" %}
          <p>اقرئي المزيد </p>
          {% else %}
          <p>اقرأ المزيد </p>
        {% endif %}
    </a>
  </div>
  </div>
  </div>
    </section>
    
    
  <div class="line-container mb-3">
    <div class="line"></div>
    <span class="line-text"><i class="fa-solid fa-pencil"></i></span>
    <div class="line"></div>
  </div>
    
  <section>


    <div class="section-2 mb-5">
    <div class="section-container">
  <div class="story-box">
    <div calss=" img-e">
    <a href="../activities/all_activities" target="_blank">
      
        <img class="img-icon" src="/static/images/teacher1.png" alt=" دروس الكتابة"  height="270px"  width="250px"  >
        <p>لنتعلم أنشطة الكتابة معاً</p>
    </a>
  </div> 
  
  </div>
  
  
  <div class="story-box">
    <a href="/writing/story-generator" target="_blank">
      <img class="img-icon" src="/static/images/generate-icon.png" alt="  انشاء قصة "    height="270px"  width="250px"   max-width="100%" >
      {% if user.is_authenticated and user.gender == "أنثى" %}
      <p> دع مُلهِم يكتب لكِ قصة </p>
      {% else %}
      <p> دع مُلهِم يكتب لك قصة </p>
      {% endif %}
    </a>
  </div>
  
  <div class="story-box">
    <a href="/writing/self-writing" target="_blank">
        <img class="img-icon" src="/static/images/writing.png" alt="أبدع واكتب قصة "  height="270px"  width="250px"   max-width="100%" >
        {% if user.is_authenticated and user.gender == "أنثى" %}
        <p>أبدعي واكتبي قصة </p>
        {% else %}
        <p>أبدع واكتب قصة </p>
        {% endif %}
    </a>
  </div>
   
  </div>
    </div>
    </section>
</div>
<body>
{% endblock %}
{% block script %}
<script>
    // Send Reding Type (our_library) To Server
    document.querySelectorAll(".home .story-box.our").forEach(story => {
        story.addEventListener("click", async () => {
            try {
                const data = { message: ["our_library",story.getAttribute("id")] }; 
                const response = await fetch('http://127.0.0.1:5000/reading/get-reading-type', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });            
                if (!response.ok) {
                    throw new Error('فشل الاتصال بالخادم. حاول مرة أخرى.');
                }
                const result = await response.json();
                if (result.redirect) {
                    // إعادة التوجيه إلى الرابط المولد
                    window.open(result.redirect, '_blank');
                }
            } catch (error) {
                console.error('حدث خطأ:', error);
            }
        })
    })

</script>
{% endblock %}





