{% extends "base.html" %}
{% block title %}الفرق بين الكتابة القصصية والإبداعية{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activities.css') }}">
{% endblock %}
{% block body %}
<div class="activity activity_1 activity_1_exer1 container my-5 p-4 px-5 rounded-4">
<!-- @@@@@@@@@@@@@@@@@@@@@@@@ Text 1 @@@@@@@@@@@@@@@@@@@@@@@@ -->
    <div class="text1">
        <div class="content">
            <h4><i class="fa-regular fa-comment fs-4 ms-2"></i>اقرأ أو استمع للنص التالي وأجب عن الأسئلة:</h4>
            <div class="text d-flex align-items-center gap-2 my-5 bg-white rounded-4 p-3 px-4">
                <div class="right-side text-center">  
                    <h5 class="mb-0"><i class="fa-solid fa-book ms-2 fs-6"></i>ليلى والذئب </h5>
                    <img class="my-3 rounded-4" src="../..//static/images/ذات الرداء الأحمر.jpg" alt="ليلى والذئب">
                    <audio class="w-100 rounded-4" controls controlslist="nodownload noplaybackrate">
                        <source id="audioSource" src="../../static/audio/tem.mp3" type="audio/mpeg">
                        المتصفح الخاص بك لا يدعم عنصر الصوت
                    </audio>
                </div>
                <p class="left-side me-2">في قديم الزمان، كانت هناك فتاة تُدعى "ذات الرداء الأحمر"، ترتدي دائمًا رداءً أحمر جميلًا أهَدته لها جدتها. طلبت منها والدتها إيصال سلة طعام لجدتها المريضة التي تعيش وحدها في الغابة، مع تحذيرها بعدم الابتعاد عن الطريق. أثناء رحلتها، ظهر لها ذئب ماكر وسألها عن وجهتها، فأخبرته بمكان منزل جدتها. خطط الذئب بخبث لإيقاعها في الفخ، فأقنعها بجمع الأزهار كهدية لجدتها، مما تسبب في تأخيرها. استغل الذئب الوقت وذهب إلى منزل الجدة، خدعها بصوته الناعم وأكلها، ثم ارتدى ملابسها وانتظر ذات الرداء الأحمر. <br>عندما وصلت الفتاة، لاحظت أن هناك شيئًا غريبًا في "جدتها"، وسألتها عن أذنيها وعينيها وفمها الكبير. فجأة، قفز الذئب ليأكلها، لكن لحسن الحظ، كان هناك صياد قريب سمع الضجة. اقتحم المنزل، وقتل الذئب، وحرر الجدة والفتاة. شكرت ذات الرداء الأحمر وجدتُها الصياد.</p>
            </div>
        </div>
        <!-- Carousel1 Text1 -->
        <div id="carousel1" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h5 class="my-3"> 
                        <i class="fa-regular fa-comment fs-5 ms-1"></i>ما هي الفكرة الرئيسية في هذه القصة ؟
                    </h5>
                    <div class="options">
                        <button class="wrong wrong-button button main-button m-1 " onclick="optionClick1(this)">
                            <i class="fa-solid fa-lightbulb ms-1"></i>ليلى تريد أن تترك منزلها وتذهب بعيدًا
                        </button>
                        <button class="wrong wrong-button button main-button m-1" onclick="optionClick1(this)">
                            <i class="fa-solid fa-lightbulb ms-1"></i>القصة تخبرنا كيف نطعم الذئب
                        </button>
                        <div class="confetti-right confetti-click">
                            <button class="right button main-button m-1" onclick="optionClick1(this)">
                                <i class="fa-solid fa-lightbulb ms-3 opacity-100"></i>    القصة تعلمنا الحذر من الغرباء
                            </button>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-evenly">
                        <div class="1">
                            <h5 class="my-3"> 
                                <i class="fa-regular fa-comment fs-5 ms-1"></i>هل تتحدث القصة عن ليلى وصديقاتها في المدرسة؟
                            </h5>
                            <div class="options">
                                <div class="confetti-right confetti-click">
                                    <button class="right button main-button m-1" onclick="optionClick1(this)">
                                        <i class="fa-solid fa-xmark wrong-icon fs-3"></i>
                                    </button>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                </div>
                                <button class="wrong wrong-button button main-button m-1" onclick="optionClick1(this)">
                                    <i class="fa-solid fa-check right-icon fs-3"></i>
                                </button>
                            </div>
                        </div>
                        <div class="2">
                            <h5 class="my-3"> 
                                <i class="fa-regular fa-comment fs-5 ms-1"></i>هل تتحدث القصة عن ليلى والذئب في الغابة?
                            </h5>
                            <div class="options">
                                <button class="wrong wrong-button button main-button m-1" onclick="optionClick1(this)">
                                    <i class="fa-solid fa-xmark wrong-icon fs-3"></i>
                                </button>
                                <div class="confetti-right confetti-click">
                                    <button class="right button main-button m-1" onclick="optionClick1(this)">
                                        <i class="fa-solid fa-check right-icon fs-3"></i>
                                    </button>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item quiz-wrapper">
                    <h4 class="prompt mb-4 text-end">قم بسحب الإجابة الصحيحة وأفلتها داخل المربع:</h4>
                    <h5 class="my-3 d-flex justify-content-center align-items-center"> 
                        <i class="fa-regular fa-comment fs-5 ms-1"></i>
                        هل هذه القصة حقيقية أو خيالية؟
                        <div class="answers options">
                            <div class="confetti-right">
                                <span class="target rounded-3 me-3" data-accept="fiction">&nbsp;</span>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            </div>
                    </div>
                    </h5>
                    <ul class="drag-options options d-flex justify-content-center">
                        <li class="option" data-target="real"> <button class="button main-button m-1">حقيقي</button></li>
                        <li class="option" data-target="fiction"> <button class="button main-button m-1">خيالي</button></li>
                    </ul>
                </div>
                <div class="carousel-item">
                    <h5 class="my-3"> 
                        <i class="fa-regular fa-comment fs-5 ms-1"></i>كيف عرفت أن القصة خيالية، وليست واقعية؟
                    </h5>
                    <div class="options">
                        <button class="wrong wrong-button button main-button m-1" onclick="optionClick1(this)">
                            <i class="fa-solid fa-lightbulb ms-1"></i>لأن ليلى تمشي وتتكلم
                        </button>
                        <div class="confetti-right confetti-click">
                            <button class="right last-ques button main-button m-1" onclick="optionClick1(this)">
                                <i class="fa-solid fa-lightbulb ms-1"></i>   لأن الذئب يتكلم ويلبس الثياب
                            </button>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                        </div>
                        <button class="wrong wrong-button button main-button m-1" onclick="optionClick1(this)">
                            <i class="fa-solid fa-lightbulb ms-1"></i>لأن الصياد هزم الذئب
                        </button>
                    </div>
                    <div class="allQues-error-msg mt-3 text-danger">قم بالإجابة على جميع الأسئلة لتنتقل إلى القسم التالي</div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" id="carouselPrev1"  data-bs-target="#carousel1" data-bs-slide="prev">
                <i class="fa-regular fa-circle-right"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" id="carouselNext1" data-bs-target="#carousel1" data-bs-slide="next">
                <i class="fa-regular fa-circle-left"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Modal1 : Shows When Text1 Questions Are Done -->
    <div class="modal modal1 fade modal-finishStory" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content align-items-center text-center">
                <div class="confetti-right confetti-click">
                    <div class="modal-header">
                        <h2 class="modal-title fs-3 d-flex align-items-center" id="exampleModalLabel">
                            <i class="fa-solid fa-star fs-5 ms-1" style="color: #FFD43B;"></i>
                            أحسنت
                            <i class="fa-solid fa-star fs-5 me-1" style="color: #FFD43B;"></i>
                        </h2>
                    </div>
                    <div class="modal-body">انتهينا من النص الأول، والآن سننتقل إلى النص الثاني. اقرأه جيدًا وأجب عن الأسئلة بكل تركيز!</div>
                    <div class="modal-footer justify-content-center"><button type="button" class="btn button main-button" data-bs-dismiss="modal">أكمل</button></div>
                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                </div>
            </div>
        </div>
    </div>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@ Text 2 @@@@@@@@@@@@@@@@@@@@@@@@ -->
        <div class="text2">
            <div class="content">
                <h4><i class="fa-regular fa-comment fs-4 ms-2"></i>اقرأ أو استمع للنص التالي وأجب عن الأسئلة:</h4>
                <div class="text d-flex align-items-center gap-2 my-5 bg-white rounded-4 p-3 px-4">
                    <div class="right-side text-center">  
                        <h5 class="mb-0"><i class="fa-solid fa-book ms-2 fs-6"></i>الذئب</h5>
                        <img class="my-3 rounded-4" src="../..//static/images/wolf.jpg" alt="الذئب">
                        <audio class="w-100 rounded-4" controls controlslist="nodownload noplaybackrate">
                            <source id="audioSource" src="../../static/audio/tem.mp3" type="audio/mpeg">
                            المتصفح الخاص بك لا يدعم عنصر الصوت
                        </audio>
                    </div>
                    <p class="left-side mb-5">الذئب هو حيوان مفترس يعيش في الغابات والجبال، ويتميز بجسم قوي وفراء كثيف يحميه من البرد القارس. يحب الذئب العيش في مجموعات تُسمى "القطعان"، حيث يتعاون أفراد القطيع في الصيد وحماية بعضهم البعض. ورغم أن الذئب قد يبدو مخيفًا للبعض، إلا أنه يلعب دورًا أساسيًا في الحفاظ على توازن البيئة، من خلال صيده للحيوانات المريضة والضعيفة، مما يساعد على تحسين صحة النظام البيئي بشكل عام.</p>
                </div>
            </div>
            <!-- Carousel2 -->
            <div id="carousel2" class="carousel slide">
                <div class="carousel-inner px-5">
                    <div class="carousel-item active">
                        <h5 class="my-3"> 
                            <i class="fa-regular fa-comment fs-5 ms-1"></i>ما هي الفكرة الرئيسية في هذا النص ؟
                        </h5>
                        <div class="options">
                            <button class="wrong wrong-button button main-button m-1 " onclick="optionClick2(this)">
                                <i class="fa-solid fa-lightbulb ms-1"></i>الذئب يعيش في المدن مع البشر
                            </button>
                            <button class="wrong wrong-button button main-button m-1" onclick="optionClick2(this)">
                                <i class="fa-solid fa-lightbulb ms-1"></i>الذئب يحب الصيد وحده دائمًا
                            </button>
                            <div class="confetti-right confetti-click">
                                <button class="right button main-button m-1" onclick="optionClick2(this)">
                                    <i class="fa-solid fa-lightbulb ms-1"></i>الذئب يعيش في مجموعات ويلعب دورًا مهمًا في الحفاظ على البيئة
                                </button>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-evenly">
                            <div class="1">
                                <h5 class="my-3"> 
                                    <i class="fa-regular fa-comment fs-5 ms-1"></i>هل يتحدث النص عن طريقة تربية الذئب كحيوان أليف?
                                </h5>
                                <div class="options">
                                    <div class="confetti-right confetti-click">     
                                        <button class="right button main-button m-1" onclick="optionClick2(this)">
                                            <i class="fa-solid fa-xmark wrong-icon fs-3"></i>
                                        </button>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    </div>
                                    <button class="wrong wrong-button button main-button m-1" onclick="optionClick2(this)">
                                        <i class="fa-solid fa-check right-icon fs-3"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="2">
                                <h5 class="my-3"> 
                                    <i class="fa-regular fa-comment fs-5 ms-1"></i>هل يتحدث النص عن حياة الذئب وصفاته وأهميته في الطبيعة?
                                </h5>
                                <div class="options">
                                    <button class="wrong wrong-button button main-button m-1" onclick="optionClick2(this)">
                                        <i class="fa-solid fa-xmark wrong-icon fs-3"></i>
                                    </button>
                                    <div class="confetti-right confetti-click">
                                        <button class="right button main-button m-1" onclick="optionClick2(this)">
                                            <i class="fa-solid fa-check right-icon fs-3"></i>
                                        </button>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item quiz-wrapper">
                        <h4 class="prompt mb-4 text-end">قم بسحب الإجابة الصحيحة وأفلتها داخل المربع:</h4>
                        <h5 class="my-3 d-flex justify-content-center align-items-center"> 
                            <i class="fa-regular fa-comment fs-5 ms-1"></i>
                            هل هذه القصة حقيقية أو خيالية؟
                            <div class="answers options">
                                <div class="confetti-right">
                                    <span class="target rounded-3 me-3" data-accept="real">&nbsp;</span>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                    <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                </div>
                            </div>
                        </h5>
                        <ul class="drag-options options d-flex justify-content-center">
                            <li class="option" data-target="real"> <button class="button main-button m-1">حقيقي</button></li>
                            <li class="option" data-target="fiction"> <button class="button main-button m-1">خيالي</button></li>
                        </ul>
                    </div>
                    <div class="carousel-item">
                        <h5 class="my-3"> 
                            <i class="fa-regular fa-comment fs-5 ms-1"></i>كيف عرفت أن القصة خيالية، وليست واقعية؟
                        </h5>
                        <div class="options">
                            <button class="wrong wrong-button button main-button m-1" onclick="optionClick2(this)">
                                <i class="fa-solid fa-lightbulb ms-1"></i>لأنه يتحدث عن الذئب الذي يتكلم ويرتدي الملابس
                            </button>
                            <button class="wrong wrong-button button main-button m-1" onclick="optionClick2(this)">
                                <i class="fa-solid fa-lightbulb ms-1"></i>لأنه يشير إلى مغامرات خيالية للذئب مع الشخصيات
                            </button>
                            <div class="confetti-right confetti-click">
                                <button class="right button last-ques main-button m-1" onclick="optionClick2(this)">
                                    <i class="fa-solid fa-lightbulb ms-1"></i>لأنه يصف صفات الذئب الحقيقية
                                </button>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            </div>
                        </div>
                        <div class="allQues-error-msg mt-3 text-danger">قم بالإجابة على جميع الأسئلة لتنتقل إلى القسم التالي</div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" id="carouselPrev2"  data-bs-target="#carousel2" data-bs-slide="prev">
                    <i class="fa-regular fa-circle-right"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" id="carouselNext2" data-bs-target="#carousel2" data-bs-slide="next">
                    <i class="fa-regular fa-circle-left"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>    
        </div>
        <!-- Modal2 : Shows When Text2 Questions Are Done -->
        <div class="modal modal2 fade modal-finishStory" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content align-items-center text-center">
                    <div class="confetti-right confetti-click">
                        <div class="modal-header">
                            <h2 class="modal-title fs-3 d-flex align-items-center" id="exampleModalLabel">
                                <i class="fa-solid fa-star fs-5 ms-1" style="color: #FFD43B;"></i>
                                مذهل
                                <i class="fa-solid fa-star fs-5 me-1" style="color: #FFD43B;"></i>
                            </h2>
                        </div>
                        <div class="modal-body">
                            <br>الآن بعدما فهمت الفرق بين النص الأول (ليلى والذئب) والنص الثاني (الذئب)، ما رأيك أن نلخص الفرق بينهما في جدول؟<br>
                            سيساعدنا هذا في فهم الفرق بين الكتابة القصصية والكتابة الواقعية بشكل أفضل.
                        </div>
                        <div class="modal-footer justify-content-center"><button type="button" class="btn button main-button" data-bs-dismiss="modal">هيا نبدأ</button></div>
                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                        <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                    </div>
                </div>
            </div>
        </div>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@ Text 3 @@@@@@@@@@@@@@@@@@@@@@@@ -->
    <div class="text3 text-center">
        <h4 class="text-end">ملخص قصة ليلى والذئب ونص الذئب</h4>
        <div class="my-5 d-flex flex-column align-items-center">
            <h5 class="text-end mb-3">قم بإضاءة جميع الأنوار لإتمام النشاط بنجاح!</h5>
            <table class="text bg-white">   
                <tr class="head">
                    <th>السؤال</th>
                    <th class="text-end">
                        <div class="position-relative">
                            <img class="w-50 ms-2 rounded-3 position-absolute top-50 translate-middle" src="../../static/images/ذات الرداء الأحمر.jpg" alt="">
                            ليلى والذئب
                        </div>
                    </th>
                    <th class="text-end">
                        <div class="position-relative">
                            <img class="w-50 ms-2 rounded-3 position-absolute top-50 translate-middle" src="../../static/images/wolf.jpg" alt="">نص الذئب
                        </div>
                    </th>
                </tr>
                <tr>
                    <td><i class="fa-regular fa-comment fs-5 ms-2"></i>نوع النص (خيالي أو حقيقي)</td>
                    <td style="clear: both;">
                        <i class="fa-solid fa-lightbulb ms-1"></i>
                        <select class="fiction" name="gender" form="sign-up" class="w-50">    
                            <option value="اختر" disabled selected hidden></option>
                            <option value="real">حقيقي</option>
                            <option value="fiction">خيالي</option>
                        </select>
                    </td>
                    <td style="clear: both;">
                        <i class="fa-solid fa-lightbulb ms-1"></i>
                        <select class="real" name="gender" form="sign-up" class="w-50">    
                            <option value="اختر" disabled selected hidden></option>
                            <option value="real">حقيقي</option>
                            <option value="fiction">خيالي</option>
                        </select>
                    </td>
                </tr>
                <tr class="textarea_first">
                    <td><i class="fa-regular fa-comment fs-5 ms-2"></i>عن ماذا يتحدث النص؟</td>
                    <td>
                        <div class="d-flex">
                            <i class="fa-solid fa-lightbulb ms-1"></i><textarea class="textarea_laila" rows="5" placeholder="اكتب إجابتك"></textarea>
                        </div>
                        <button class="check button mb-1" onclick="allamCheck_1()">تحقق من الإجابة</button>
                    </td>
                    <td>
                        <div class="d-flex">
                            <i class="fa-solid fa-lightbulb ms-1"></i><textarea class="textarea_wolf" rows="5" placeholder="اكتب إجابتك"></textarea>
                        </div>
                        <button class="check button mb-1" onclick="allamCheck_2()">تحقق من الإجابة</button>
                    </td>
                </tr>
                <!-- <tr class="textarea_sec">
                    <td><i class="fa-regular fa-comment fs-5 ms-2"></i>كيف تم حل المشكلة في النص؟</td>
                    <td>
                        <div class="d-flex">
                            <i class="fa-solid fa-lightbulb ms-1"></i><textarea rows="5" placeholder="يجب أن يتكون الجواب من حوالي 5 كلمات كحد أدنى"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <i class="fa-solid fa-lightbulb ms-1"></i><textarea rows="5" placeholder="يجب أن يتكون الجواب من حوالي 5 كلمات كحد أدنى"></textarea>
                        </div>
                    </td>
                </tr> -->
            </table>
        </div>
        <span class="d-block mb-3 error-msg text-danger">عذرًا، لم تتمكن من إضاءة جميع الأنوار. تأكد من إدخال الإجابات بالطول المطلوب وحاول مرة أخرى.</span>
        <button class="button main-button done-button"  onclick="showModal3()">انتهيت</button>
    </div>

    <!-- Modal3 > Shows When Text3 Questions Are Done -->
    <div class="modal modal3 fade modal-finishStory" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content align-items-center text-center">
                <div class="modal-header">
                    <h2 class="modal-title fs-3 d-flex align-items-center" id="exampleModalLabel">
                        <i class="fa-solid fa-star fs-5 ms-1" style="color: #FFD43B;"></i>
                        عمل رائع
                        <i class="fa-solid fa-star fs-5 me-1" style="color: #FFD43B;"></i>
                    </h2>
                </div>
                <div class="modal-body">الآن أصبحت تعرف الفرق بين القصة الخيالية والنص الواقعي. تذكّر أن الكتابة القصصية تعتمد على الخيال، بينما الكتابة الواقعية تتحدث عن أشياء حقيقية. لا تنسَ أن تكتشف أنشطة أخرى لتتعلم أكثر!</div>
                <a href="../activities/all_activities" class="mb-4 mt-3"><button type="button" class="btn button main-button" data-bs-dismiss="modal">ارجع للأنشطة</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
// @@@@@@@@@@@@@@@@@@@@@@@@ Start Text 1 @@@@@@@@@@@@@@@@@@@@@@@@
    const myCarousel1 = document.querySelector('#carousel1');
    const carousel1 = new bootstrap.Carousel(myCarousel1, {
        wrap: false // Stops Going Back To First Section
    });
    // Hide And Display Arrows
    const nextButton1 = document.querySelector('#carouselNext1');
    const prevButton1 = document.querySelector('#carouselPrev1');

    prevButton1.style.display = 'none'; // Hide Prev Button At The Beggining
    
    // Modal That Appears When Finish Text1 Questions
    var modal1 = new bootstrap.Modal(document.getElementById('modal1'));
    
    // On Moving The Carousel
    myCarousel1.addEventListener('slid.bs.carousel', (event) => {
        const totalItems = document.querySelectorAll('#carousel1 .carousel-item').length; // Number of items
        const currentIndex = event.to; // Current index (Question)
        
        // Show/Hide Prev and Next Buttons
        prevButton1.style.display = (currentIndex === 0) ? 'none' : 'flex'; // Hide Prev Button if on the first item
        nextButton1.style.display = (currentIndex === totalItems - 1) ? 'none' : 'flex'; // Hide Next Button if on the last item
        
        // Check If All Answerd
        let allAnswers = CheckCar1Ques(); // افتراض أن كل الأسئلة تمت الإجابة عليها
       
        if (allAnswers) {
            // Turn On Confetti And Audio
            document.querySelector(".modal1 .confetti-right").classList.add("active");
            const audio = document.getElementById('confetti-sound-right');
            audio.currentTime = 0; // Return Voice To The Start
            audio.play();
            
            modal1.show(); // Show Modal
            document.querySelector(".activity_1_exer1 > .text1").style.display = 'none';  // Hide Current Text
            document.querySelector(".activity_1_exer1 > .text2").style.display = 'block'; // Show Next Text
        }
    });
    
    // Click On Options (Multible Choise Question)
    function optionClick1(button) {
        if (button.classList.contains("wrong")) {
            button.classList.add("active-wrong")
        }
        else if (button.classList.contains("right")) {
            button.classList.add("active-right");
        }
        // If User Answered Last Question
        if (button.classList.contains("last-ques")) {
            // Turn On Confetti And Audio
            document.querySelector(".modal1 .confetti-right").classList.add("active");
            const audio = document.getElementById('confetti-sound-right');
            audio.currentTime = 0; // Return Voice To The Start
            audio.play();

            let allAnswers = CheckCar1Ques(); // Check If All Answerd
            if (allAnswers) { // If Yes
                modal1.show(); 
                document.querySelector(".activity_1_exer1 > .text1").style.display = 'none'; // Hide Current Text
                document.querySelector(".activity_1_exer1 > .text2").style.display = 'block'; // Show Next Text
            }
        }
    }
// Check carousel1 Questions Function
function CheckCar1Ques() {
    let allTrue = false; // Start as false
    // Check if all Questions Are Answerd
    if (
        document.querySelector("#carousel1 .carousel-item:first-of-type button.right")?.classList.contains("active-right") &&
        document.querySelector("#carousel1 .carousel-item:nth-of-type(3) .target")?.classList.contains("active-right") &&
        document.querySelector("#carousel1 .carousel-item:last-of-type button.right")?.classList.contains("active-right") &&
        Array.from(document.querySelectorAll("#carousel1 .carousel-item:nth-of-type(2) button.right")).every(button => button.classList.contains("active-right"))
        ) {
            allTrue = true;
        }
    return allTrue;
}


// @@@@@@@@@@@@@@@@@@@@@@@@ Start Text 2 @@@@@@@@@@@@@@@@@@@@@@@@
    const myCarousel2 = document.querySelector('#carousel2');
    const carousel2 = new bootstrap.Carousel(myCarousel2, {
        wrap: false // Stops Going Back To First Section
    });
    // Hide And Display Arrows
    const nextButton2 = document.querySelector('#carouselNext2');
    const prevButton2 = document.querySelector('#carouselPrev2');

    prevButton2.style.display = 'none'; // Hide Prev Button At The Beggining
    
    // Modal That Appears When Finish Text1 Questions
    var modal2 = new bootstrap.Modal(document.getElementById('modal2'));
    
    // On Moving The Carousel
    myCarousel2.addEventListener('slid.bs.carousel', (event) => {
        const totalItems = document.querySelectorAll('#carousel2 .carousel-item').length; // Number of items
        const currentIndex = event.to; // Current index (Question)
        
        // Show/Hide Prev and Next Buttons
        prevButton2.style.display = (currentIndex === 0) ? 'none' : 'flex'; // Hide Prev Button if on the first item
        nextButton2.style.display = (currentIndex === totalItems - 1) ? 'none' : 'flex'; // Hide Next Button if on the last item
        
        // Check If All Answerd
        let allAnswers = CheckCar2Ques(); // افتراض أن كل الأسئلة تمت الإجابة عليها
       
        if (allAnswers) {
            // Turn On Confetti And Audio
            document.querySelector(".modal2 .confetti-right").classList.add("active");
            const audio = document.getElementById('confetti-sound-right');
            audio.currentTime = 0; // Return Voice To The Start
            audio.play();
            
            modal2.show(); // Show Modal
            document.querySelector(".activity_1_exer1 > .text2").style.display = 'none'; // Hide Current Text
            document.querySelector(".activity_1_exer1 > .text3").style.display = 'block'; // Show Next Text
        }
    });
    
    // Click On Options (Multible Choise Question)
    function optionClick2(button) {
        if (button.classList.contains("wrong")) {
            button.classList.add("active-wrong")
        }
        else if (button.classList.contains("right")) {
            button.classList.add("active-right");
        }
        // If User Answered Last Question
        if (button.classList.contains("last-ques")) {
            let allAnswers = CheckCar2Ques(); // Check If All Answerd
            if (allAnswers) { // If Yes
                // Turn On Confetti And Audio
                document.querySelector(".modal2 .confetti-right").classList.add("active");
                const audio = document.getElementById('confetti-sound-right');
                audio.currentTime = 0; // Return Voice To The Start
                audio.play();

                modal2.show(); 
                document.querySelector(".activity_1_exer1 > .text2").style.display = 'none'; // Hide Current Text
                document.querySelector(".activity_1_exer1 > .text3").style.display = 'block'; // Show Next Text
            }
        }
    }
// Check carousel2 Questions Function
function CheckCar2Ques() {
    let allTrue = false; // Start as false
    // Check if all Questions Are Answerd
    if (
        document.querySelector("#carousel2 .carousel-item:first-of-type button.right")?.classList.contains("active-right") &&
        document.querySelector("#carousel2 .carousel-item:nth-of-type(3) .target")?.classList.contains("active-right") &&
        document.querySelector("#carousel2 .carousel-item:last-of-type button.right")?.classList.contains("active-right") &&
        Array.from(document.querySelectorAll("#carousel2 .carousel-item:nth-of-type(2) button.right")).every(button => button.classList.contains("active-right"))
        ) {
            allTrue = true;
        }
    return allTrue;
}


// @@@@@@@@@@@@@@@@@@@@@@@@ Start Text 3 @@@@@@@@@@@@@@@@@@@@@@@@
    var selects = document.querySelectorAll(".activity_1 .text3 table tr:nth-of-type(2) select");
    var select_first = document.querySelector(".activity_1 .text3 table tr:nth-of-type(2) .fiction");
    var select_sec = document.querySelector(".activity_1 .text3 table tr:nth-of-type(2) .real");
    
    var textareas = document.querySelectorAll(".activity_1 .text3 table textarea");
    var textarea_laila = document.querySelector(".activity_1 .text3 table .textarea_laila");
    var textarea_wolf = document.querySelector(".activity_1 .text3 table .textarea_wolf");
    var error_msg = document.querySelector(".activity_1 .text3 .error-msg");
    var modal3 = new bootstrap.Modal(document.getElementById('modal3'));
    
    // If User Answers Right: Color Light
    select_first.addEventListener("input", () => {
        select_first.value == "fiction" ? select_first.previousElementSibling.classList.add("active") : select_first.previousElementSibling.classList.remove("active")
    })
    select_sec.addEventListener("input", () => {
        select_sec.value == "real" ? select_sec.previousElementSibling.classList.add("active") : select_sec.previousElementSibling.classList.remove("active")
    })

    // Allam Check Laila
    async function allamCheck_1() {  
        const arabicRegex = /^[\u0600-\u06FF\s]+$/;
        // Check If Answer No Answer  
        if (textarea_laila.value.length == 0) {  
            error_msg.innerHTML = "لا يوجد نص للتحقق منه";  
            error_msg.classList.add("active");  
            return;  
        }  
        // Check If Answer Is Short  
        else if (textarea_laila.value.length < 5) {  
            error_msg.innerHTML = "النص قصير جدًا. حاول إضافة المزيد ليتم التحقق";  
            error_msg.classList.add("active");  
            return;  
        }  
        // If Text Is Not Arabic
		else if (!arabicRegex.test(textarea_laila.value) ) {
            error_msg.innerHTML = "يجب إدخال النصوص باللغة العربية فقط"; 
            error_msg.classList.add("active");  
			return;
		}

         // Send To Allam  
        const data = { message: textarea_laila.value };  

        // إظهار رسالة التحميل
        Swal.fire({
            title: 'جاري التحقق من الإجابة...',
            text: 'الرجاء الانتظار قليلاً',
            allowOutsideClick: false,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading(); // عرض المؤشر الدائري
            }
        });

        try {
            const response = await fetch('http://127.0.0.1:5000/allam_activity1_1', {  
                method: 'POST',  
                headers: { 'Content-Type': 'application/json' },  
                body: JSON.stringify(data),  
            });

            Swal.close(); // إغلاق رسالة التحميل بمجرد استلام الرد

            if (!response.ok) {
                throw new Error('فشل الاتصال بالخادم. حاول مرة أخرى.');
            }
            const result = await response.json();
            var resultTrim = result.response.trim();

            // عرض النتيجة بناءً على الرد
            Swal.fire({
                title:  resultTrim === "True" ? 'إجابة صحيحة!' : 'إجابة خاطئة!',
                icon:  resultTrim === "True" ? 'success' : 'error',
                confirmButtonText:  resultTrim === "True" ? 'عودة للنشاط' : 'إعادة المحاولة',
                reverseButtons: true,
            });

            // Light On Based on Response
            resultTrim === "True" ? textarea_wolf.previousSibling.classList.add("active") : textarea_wolf.previousSibling.classList.remove("active");
        } catch (error) {
            Swal.close(); // إغلاق رسالة التحميل عند حدوث خطأ

            // عرض رسالة خطأ
            Swal.fire({
                title: 'خطأ!',
                text: error.message,
                icon: 'error',
                confirmButtonText: 'موافق',
                reverseButtons: true,
            });
        }
    }
    
    // Allam Check Laila
    async function allamCheck_2() {  
        const arabicRegex = /^[\u0600-\u06FF\s]+$/;

        // Check If No Answer  
        if (textarea_wolf.value.length == 0) {  
            error_msg.innerHTML = "لا يوجد نص للتحقق منه";  
            error_msg.classList.add("active");  
            return;  
        }  
        // Check If Answer Is Short  
        else if (textarea_wolf.value.length < 5) {  
            error_msg.innerHTML = "النص قصير جدًا. حاول إضافة المزيد ليتم التحقق";  
            error_msg.classList.add("active");  
            return;  
        }  
         // If Text Is Not Arabic
		else if (!arabicRegex.test(textarea_wolf.value) ) {
            error_msg.innerHTML = "يجب إدخال النصوص باللغة العربية فقط"; 
            error_msg.classList.add("active");  
			return;
		}

         // Send To Allam  
        const data = { message: textarea_wolf.value };  

        // إظهار رسالة التحميل
        Swal.fire({
            title: 'جاري التحقق من الإجابة...',
            text: 'الرجاء الانتظار قليلاً',
            allowOutsideClick: false,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading(); // عرض المؤشر الدائري
            }
        });

        try {
            const response = await fetch('http://127.0.0.1:5000/allam_activity1_2', {  
                method: 'POST',  
                headers: { 'Content-Type': 'application/json' },  
                body: JSON.stringify(data),  
            });

            Swal.close(); // إغلاق رسالة التحميل بمجرد استلام الرد

            if (!response.ok) {
                throw new Error('فشل الاتصال بالخادم. حاول مرة أخرى.');
            }
            const result = await response.json();
            var resultTrim = result.response.trim();

            // عرض النتيجة بناءً على الرد
            Swal.fire({
                title:  resultTrim === "True" ? 'إجابة صحيحة!' : 'إجابة خاطئة!',
                icon:  resultTrim === "True" ? 'success' : 'error',
                confirmButtonText:  resultTrim === "True" ? 'عودة للنشاط' : 'إعادة المحاولة',
                reverseButtons: true,
            });   
            resultTrim === "True" ? textarea_wolf.previousSibling.classList.add("active") : textarea_wolf.previousSibling.classList.remove("active");
        } catch (error) {
            Swal.close(); // إغلاق رسالة التحميل عند حدوث خطأ

            // عرض رسالة خطأ
            Swal.fire({
                title: 'خطأ!',
                text: error.message,
                icon: 'error',
                confirmButtonText: 'موافق',
                reverseButtons: true,
            });
        }
    }

    function showModal3() {
        // Check If All Light are On, If Yes Show Modal3
        let select_active = true;
        let textarea_active = true;
        
        selects.forEach((select) => {if (select.previousElementSibling.classList.contains("active") == false) {select_active = false} }) 
        textareas.forEach((textarea) => {if (textarea.previousSibling.classList.contains("active") == false ) {textarea_active = false} }) 

        if (select_active) {
            if (textarea_active) {
                modal3.show();
                bigConfetti(); // Show Confetti
                error_msg.classList.remove("active")
            }
            else {
                error_msg.innerHTML = "عذرًا، لم تتمكن من إضاءة جميع الأنوار. تأكد من إدخال الإجابات بالطول المطلوب وحاول مرة أخرى";
                error_msg.classList.add("active")
            }
        }
        else {
            error_msg.innerHTML = "عذرًا، لم تتمكن من إضاءة جميع الأنوار. تأكد من إدخال الإجابات بالطول المطلوب وحاول مرة أخرى";
            error_msg.classList.add("active")
        }
    }
</script>
{% endblock %}