{% extends "base.html" %}
{% block title %}الفرق بين الكتابة القصصية والإبداعية{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activities.css') }}">
{% endblock %}
<!-- Questions & Answers -->
{% set text1_questions = [
    {'question': 'ما هي الفكرة الرئيسية في هذه القصة ؟', 
    'options' : [
        {'answer': 'ليلى تريد أن تترك منزلها وتذهب بعيدًا', 'class': 'active-wrong'},
        {'answer': 'القصة تخبرنا كيف نطعم الذئب', 'class': 'active-wrong'},
        {'answer': 'القصة تعلمنا الحذر من الغرباء', 'class': 'active-right'}, 
    ]
    },
    {'question': 'عن أي شيء تتحدث القصة؟', 
    'options' : [
        {'answer': 'عن ليلى والذئب في الغابة', 'class': 'active-right'}, 
        {'answer': 'عن ليلى وصديقاتها في المدرسة', 'class': 'active-wrong'}, 
        {'answer': 'عن ليلى وهي تتناول الطعام مع جدتها', 'class': 'active-wrong'},
        ]
    },
    {'question': 'هل هذه القصة حقيقية أو خيالية؟', 
    'options' : [
        {'answer': 'حقيقية', 'class': 'active-wrong'}, 
        {'answer': 'خيالية', 'class': 'active-right'},
        ]
    },
    {'question': 'كيف عرفت أن القصة خيالية، وليست واقعية؟', 
    'options' : [
        {'answer': 'لأن ليلى تمشي وتتكلم', 'class': 'active-wrong'}, 
        {'answer': 'لأن الذب يتكلم ويلبس الثياب', 'class': 'active-right'}, 
        {'answer': 'لأن الصياد هزم الذئب', 'class': 'active-wrong'},
        ]
    },
]%}
{% set text2_questions = [
    {'question': 'ما هي الفكرة الرئيسية في هذا النص ؟', 
    'options' : [
        {'answer': 'الذئب يعيش في مجموعات ويلعب دورًا مهمًا في الحفاظ على البيئة', 'class': 'active-right'},
        {'answer': 'الذئب يحب الصيد وحده دائمًا', 'class': 'active-wrong'},
        {'answer': 'الذئب يعيش في المدن مع البشر', 'class': 'active-wrong'}, 
    ]
    },
    {'question': 'عن أي شيء يتحدث النص؟', 
    'options' : [
    {'answer': 'عن طريقة تربية الذئب كحيوان أليف', 'class': 'active-wrong'}, 
    {'answer': 'عن مغامرة الذئب مع ليلى في الغابة', 'class': 'active-wrong'},
    {'answer': 'عن حياة الذئب وصفاته وأهميته في الطبيعة', 'class': 'active-right'}, 
        ]
    },
    {'question': 'هل هذا النص حقيقيي أو خياليي؟', 
    'options' : [
        {'answer': 'حقيقي', 'class': 'active-right'}, 
        {'answer': 'خيالي', 'class': 'active-wrong'},
        ]
    },
    {'question': 'كيف عرفت أن النص خيالي، وليس واقعي؟', 
    'options' : [
        {'answer': 'لأنه يتحدث عن الذئب الذي يتكلم ويرتدي الملابس', 'class': 'active-wrong'}, 
        {'answer': 'لأنه يشير إلى مغامرات خيالية للذئب مع الشخصيات', 'class': 'active-wrong'}, 
        {'answer': 'لأنه يصف صفات الذئب الحقيقية', 'class': 'active-right'},
        ]
    },
]%}

{% block body %}
<div class="activity activity_1 activity_1_exer1 container my-5 p-4 px-5 rounded-4">
<!-- Text 1 -->
    <div class="text1">
        <div class="content">
            <h4><i class="fa-regular fa-comment fs-4 ms-2"></i>اقرأ أو استمع للنص التالي وأجب عن الأسئلة:</h4>
            <div class="text d-flex align-items-center gap-2 my-5 bg-white rounded-4 p-3 px-4">
                <div class="right-side text-center">  
                    <h5 class="mb-0"><i class="fa-solid fa-book ms-2 fs-6"></i>ليلى والذئب </h5>
                    <img class="my-3 rounded-4" src="../..//static/images/ذات الرداء الأحمر.jpg" alt="ليلى والذئب">
                    <audio class="w-100 rounded-4" controls controlslist="nodownload noplaybackrate">
                        <source id="audioSource" src="../../static/audio/tem.mp3" type="audio/mpeg">
                        المتصفح الخاص بك لا يدعم عنصر الصوت
                    </audio>
                </div>
                <p class="left-side me-2">في قديم الزمان، كانت هناك فتاة تُدعى "ذات الرداء الأحمر"، ترتدي دائمًا رداءً أحمر جميلًا أهَدته لها جدتها. طلبت منها والدتها إيصال سلة طعام لجدتها المريضة التي تعيش وحدها في الغابة، مع تحذيرها بعدم الابتعاد عن الطريق. أثناء رحلتها، ظهر لها ذئب مكر وسألها عن وجهتها، فأخبرته بمكان منزل جدتها. خطط الذئب بخبث لإيقاعها في الفخ، فأقنعها بجمع الأزهار كهدية لجدتها، مما تسبب في تأخيرها. استغل الذئب الوقت وذهب إلى منزل الجدة، خدعها بصوته الناعم وأكلها، ثم ارتدى ملابسها وانتظر ذات الرداء الأحمر. <br>عندما وصلت الفتاة، لاحظت أن هناك شيئًا غريبًا في "جدتها"، وسألتها عن أذنيها وعينيها وفمها الكبير. فجأة، قفز الذئب ليأكلها، لكن لحسن الحظ، كان هناك صياد قريب سمع الضجة. اقتحم المنزل، وقتل الذئب، وحرر الجدة والفتاة. شكرت ذات الرداء الأحمر وجدتُها الصياد.</p>
            </div>
        </div>
    
        <!-- Carousel1 Text1 -->
        <div class="q-a carousel carousel1 slide" id="questionsCarousel" data-bs-interval="false">
            <div class="carousel-inner">
                {% for ques in text1_questions %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %} {% if loop.last %}last-ques{% endif %}">
                    <div class="container">
                        <h5 class="my-3"> 
                            <i class="fa-regular fa-comment fs-5 ms-1"></i>
                            {{ ques.question }}
                        </h5>
                        <!-- For loop for answers -->
                        {% for option in ques.options %}
                        <button class="button main-button m-1" onclick="optionClick1(this, '{{ option.class }}')">
                            <i class="fa-solid fa-lightbulb ms-1"></i>
                            {{ option.answer }}
                        </button>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Modal1 : Shows When Text1 Questions Are Done -->
    <div class="modal modal1 fade modal-finishStory" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content align-items-center text-center">
            <div class="modal-header">
                <h2 class="modal-title fs-3 d-flex align-items-center" id="exampleModalLabel">
                    <i class="fa-solid fa-star fs-5 ms-1" style="color: #FFD43B;"></i>
                    أحسنت
                    <i class="fa-solid fa-star fs-5 me-1" style="color: #FFD43B;"></i>
                </h2>
            </div>
            <div class="modal-body">انتهينا من النص الأول، والآن سننتقل إلى النص الثاني. اقرأه جيدًا وأجب عن الأسئلة بكل تركيز!</div>
            <div class="modal-footer"><button type="button" class="btn button main-button" data-bs-dismiss="modal">أكمل</button></div>
            </div>
        </div>
    </div>
    
    <!-- Text 2 -->
        <div class="text2">
            <div class="content">
                <h4><i class="fa-regular fa-comment fs-4 ms-2"></i>اقرأ أو استمع للنص التالي وأجب عن الأسئلة:</h4>
                <div class="text d-flex align-items-center gap-2 my-5 bg-white rounded-4 p-3 px-4">
                    <div class="right-side text-center">  
                        <h5 class="mb-0"><i class="fa-solid fa-book ms-2 fs-6"></i>الذئب</h5>
                        <img class="my-3 rounded-4" src="../..//static/images/wolf.jpg" alt="الذئب">
                        <audio class="w-100 rounded-4" controls controlslist="nodownload noplaybackrate">
                            <source id="audioSource" src="../../static/audio/tem.mp3" type="audio/mpeg">
                            المتصفح الخاص بك لا يدعم عنصر الصوت
                        </audio>
                    </div>
                    <p class="left-side mb-5">الذئب هو حيوان مفترس يعيش في الغابات والجبال، ويتميز بجسم قوي وفراء كثيف يحميه من البرد القارس. يحب الذئب العيش في مجموعات تُسمى "القطعان"، حيث يتعاون أفراد القطيع في الصيد وحماية بعضهم البعض. ورغم أن الذئب قد يبدو مخيفًا للبعض، إلا أنه يلعب دورًا أساسيًا في الحفاظ على توازن البيئة، من خلال صيده للحيوانات المريضة والضعيفة، مما يساعد على تحسين صحة النظام البيئي بشكل عام.</p>
                </div>
            </div>
        
            <!-- Carousel2 Text2 -->
            <div class="q-a carousel carousel2 slide" id="questionsCarousel2" data-bs-interval="false">
                <div class="carousel-inner">
                    {% for ques in text2_questions %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %} {% if loop.last %}last-ques{% endif %}">
                        <div class="container">
                            <h5 class="my-3"> 
                                <i class="fa-regular fa-comment fs-5 ms-1"></i>
                                {{ ques.question }}
                            </h5>
                            <!-- For loop for answers -->
                            {% for option in ques.options %}
                            <button class="button main-button m-1" onclick="optionClick2(this, '{{ option.class }}')">
                                <i class="fa-solid fa-lightbulb ms-1"></i>
                                {{ option.answer }}
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Modal2 : Shows When Text2 Questions Are Done -->
        <div class="modal modal2 fade modal-finishStory" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content align-items-center text-center">
                    <div class="modal-header">
                        <h2 class="modal-title fs-3 d-flex align-items-center" id="exampleModalLabel">
                            <i class="fa-solid fa-star fs-5 ms-1" style="color: #FFD43B;"></i>
                            مذهل
                            <i class="fa-solid fa-star fs-5 me-1" style="color: #FFD43B;"></i>
                        </h2>
                    </div>
                    <div class="modal-body">
                        <br>الآن بعدما فهمت الفرق بين النص الأول (ليلى والذئب) والنص الثاني (الذئب)، ما رأيك أن نلخص الفرق بينهما في جدول؟<br>
                        سيساعدنا هذا في فهم الفرق بين الكتابة القصصية والكتابة الواقعية بشكل أفضل.
                    </div>
                    <div class="modal-footer"><button type="button" class="btn button main-button" data-bs-dismiss="modal">هيا نبدأ</button></div>
                </div>
            </div>
        </div>


    
<!-- Text 3 -->
    <div class="text3 text-center">
        <h4 class="text-end">ملخص قصة ليلى والذئب ونص الذئب</h4>
        <div class="my-5 d-flex flex-column align-items-center">
            <h5 class="text-end mb-3">قم بإضاءة جميع الأنوار لإتمام النشاط بنجاح!</h5>
            <table class="text bg-white">   
                <tr class="head">
                    <th>السؤال</th>
                    <th>ليلى والذئب</th>
                    <th>نص الذئب</th>
                    
                </tr>
                <tr>
                    <td><i class="fa-regular fa-comment fs-5 ms-2"></i>نوع النص (خيالي أو حقيقي)</td>
                    <td><i class="fa-solid fa-lightbulb active ms-1"></i><input type="text"  autofocus></td>
                    <td><i class="fa-solid fa-lightbulb ms-1"></i><input type="text" ></td>
                </tr>
                <tr>
                    <td><i class="fa-regular fa-comment fs-5 ms-2"></i>عن ماذا يتحدث النص؟</td>
                    <td>
                        <div class="d-flex">
                            <i class="fa-solid fa-lightbulb ms-1"></i><textarea rows="5"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <i class="fa-solid fa-lightbulb ms-1"></i><textarea rows="5"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa-regular fa-comment fs-5 ms-2"></i>كيف تم حل المشكلة في النص</td>
                    <td>
                        <div class="d-flex">
                            <i class="fa-solid fa-lightbulb ms-1"></i><textarea rows="5"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <i class="fa-solid fa-lightbulb ms-1"></i><textarea rows="5"></textarea>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <table class="text2">

        </table>

        <button class="button main-button"  onclick="showModal3()">انتهيت</button>
    </div>
    <!-- Modal3 > Shows When Text3 Questions Are Done -->
    <div class="modal modal3 fade modal-finishStory" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content align-items-center text-center">
            <div class="modal-header"><h1 class="modal-title fs-3" id="exampleModalLabel">عمل رائع!</h1></div>
            <div class="modal-body">الآن أصبحت تعرف الفرق بين القصة الخيالية والنص الواقعي. تذكّر أن الكتابة القصصية تعتمد على الخيال، بينما الكتابة الواقعية تتحدث عن أشياء حقيقية. لا تنسَ أن تكتشف أنشطة أخرى لتتعلم أكثر!</div>
            <div class="modal-footer">
                <a href="../activities/all_activities"><button type="button" class="btn button main-button" data-bs-dismiss="modal">ارجع للأنشطة</button></a>
            </div>
            </div>
        </div>
    </div>
        
</div>
{% endblock %}
{% block script %}
<script>
    // Start Text 1
    const carouselElement = document.querySelector('#questionsCarousel');
    const carousel = new bootstrap.Carousel(carouselElement, {
        interval: false,
        wrap: false // Prevent going back to the first question after finishing
    });
    
    // Add event listener to the carousel DOM element, not the Carousel instance
    carouselElement.addEventListener('slide.bs.carousel', (event) => {
        const direction = event.direction === 'right' ? 'left' : 'right'; // Change direction
        const inner = carouselElement.querySelector('.carousel-inner'); // Get the carousel-inner element
        inner.style.direction = direction; // Apply the new direction
    });
    
    // Modal That Appears When Finish Text1 Questions
    var modal1 = new bootstrap.Modal(document.getElementById('modal1'));

    // Click On Options
    function optionClick1(button, optionClass) {
        button.classList.toggle(optionClass); // Feedback (red, green) Colors For The Answers
        // If User Choose Right Answer
        if (optionClass === 'active-right') {
            setTimeout(() => {
                carousel.next(); // Go To Next Question
            }, 250);    
            // if Question Is The Last One
            if (button.parentElement.parentElement.classList.contains("last-ques")) {
                modal1.show(); // Show Modal1                
                document.querySelector(".activity_1_exer1 > .text1").style.display = 'none' // Undisplay Text1  
                document.querySelector(".activity_1_exer1 > .text2").style.display = 'block' // Display Text2
            }
        }
    }
    // End Text 1
    
    
    
    // Start Text 2
    const carousel2Element = document.querySelector('#questionsCarousel2');
    const carousel2 = new bootstrap.Carousel(carousel2Element, {
        interval: false,
        wrap: false // Prevent going back to the first question after finishing
    });
    
    // Add event listener to the carousel DOM element, not the Carousel instance
    carousel2Element.addEventListener('slide.bs.carousel', (event) => {
        const direction = event.direction === 'right' ? 'left' : 'right'; // Change direction
        const inner = carousel2Element.querySelector('.carousel-inner'); // Get the carousel-inner element
        inner.style.direction = direction; // Apply the new direction
    });
    
    var modal2 = new bootstrap.Modal(document.getElementById('modal2'));
    
    // Click On Options
    function optionClick2(button, optionClass) {
        button.classList.toggle(optionClass); // Feedback (red, green) Colors For The Answers
        // If User Choose Right Answer
        if (optionClass === 'active-right') {
            setTimeout(() => {
                carousel2.next(); // Go To Next Question
            }, 250);    
            // if Question Is The Last One
            if (button.parentElement.parentElement.classList.contains("last-ques")) {
                modal2.show(); // Show Modal1                
                document.querySelector(".activity_1_exer1 > .text2").style.display = 'none' // Undisplay Text1  
                document.querySelector(".activity_1_exer1 > .text3").style.display = 'block' // Display Text2
            }
        }
    }
    // End Text 2
    
    
    // Start Text 3
    var inputs = document.querySelectorAll("");
    var textareas = document.querySelectorAll("");
    var modal3 = new bootstrap.Modal(document.getElementById('modal3'));
    // If User Answers Right: Color Light
    inputs.forEach((input) => {
        
    })
    textareas.forEach((input) => {

    })
    function showModal3() {
        // Show if all Light are active class
        modal3.show();
    }
</script>
{% endblock %}