{% extends "base.html" %}
{% block title %}المشكلة{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activities.css') }}">
{% endblock %}
<!-- Questions & Answers -->
{% block body %}
<div class="activity problem-container characters_activity container my-5 p-4 py-5 px-5 rounded-4 position-relative">

    <div class="explanation text-center mb-5 bg-white rounded-4 p-3 px-4 w-75 mx-auto position-relative">
        <h4 class="title mb-3"><i class="fa-regular fa-comment fs-4 ms-2"></i>ماهي المشكلة ؟</h4>
        <p>المشكلة هي حالة أو موقف يواجهه الشخص ويجعله يشعر بالتحدي أو الحيرة. يمكن أن تكون مشكلة داخلية، مثل شعور الشخص بالحزن أو الخوف، أو مشكلة خارجية، مثل مواجهة صعوبة في تحقيق هدف ما. الشخص أو الشخصيات في القصة يسعون لحل هذه المشكلة، مما يجعل الأحداث تتطور وتنتقل من مرحلة إلى أخرى.
        </p>
        <audio class="w-50 rounded-4" controls controlslist="nodownload noplaybackrate">
            <source id="audioSource" src="../../static/audio/activity/المشكلة.mp3" type="audio/mpeg">
            المتصفح الخاص بك لا يدعم عنصر الصوت
        </audio>
    </div>


    <div id="carouselCaracthers" class="carousel slide">
        <div class="carousel-inner">
            <!-- 1 -->
            <div class="carousel-item section-1 active">
                <div class="small-activity text-center pt-3  mx-auto">
                    <div class="content mx-auto">
                        <h5 class="text-end"><i class="fa-regular fa-comment fs-4 ms-2"></i>استخرج المشكلة من القصة التالية:</h5>
                        <div class="story d-flex align-items-center gap-2 rounded-4 p-3 py-2 mx-auto my-3 border border-2 border-white">
                            <div class="right-side text-center">  
                                <h5 class="mb-0"><i class="fa-solid fa-book ms-2 fs-6"></i>قصة رحلة الحديقة</h5>
                                <img class="my-3 rounded-4" src="../..//static/images/فرحان.jpeg" alt=" فرحان">
                                <audio class="w-100 rounded-4" controls controlslist="nodownload noplaybackrate">
                                    <source id="audioSource" src="../../static/audio/activity/فرحان.mp3" type="audio/mpeg">
                                    المتصفح الخاص بك لا يدعم عنصر الصوت
                                </audio>
                            </div>
                            <p class="left-side text-end mb-0">
                                كان هناك أرنب صغير يدعى "فرحان" يحب الجزر كثيرًا.<br>
                                في يوم من الأيام، وجد حقلاً مليئًا بالجزر، ولكن كان هناك سياج عالٍ يمنعه من الدخول.<br>
                                فكر فرحان وسأل صديقته السلحفاة "لولا" للمساعدة.<br>
                                تعاونوا معًا ووجدوا مكانًا منخفضًا في السياج.<br>
                                دخلوا الحقل وأكلوا الجزر حتى شبعوا.<br>
                            </p>
                        </div>
                    </div>

                    <div class="question">
                        <h6><i class="fa-regular fa-comment fs-4 ms-2"></i>ما هي المشكلة التي واجهها الأرنب "فرحان" في القصة؟ </h6>
                        <div class="options">
                            <div class="confetti-right confetti-click">
                                <button class="right button main-button m-1" onclick="optionClick(this)">
                                    <i class="fa-solid fa-lightbulb ms-1"></i> كان هناك سياج عالٍ يمنعه من دخول حقل الجزر. 
                                </button>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>      
                            </div>
                            <button class="wrong wrong-button button main-button m-1" onclick="optionClick(this)">
                                <i class="fa-solid fa-lightbulb ms-1"></i>لم يكن لديه أصدقاء.
                            </button>
                            
                            <button class="wrong wrong-button button main-button m-1" onclick="optionClick(this)">
                                <i class="fa-solid fa-lightbulb ms-1"></i>كان خائفًا من الحيوانات الأخرى.
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2 -->
            <div class="carousel-item section-3 ">
                <div class="small-activity text-center pt-3  mx-auto">
                    <div class="content mx-auto">
                        <h5 class="text-end"><i class="fa-regular fa-comment fs-4 ms-2"></i>استخرج المشكلة من القصة التالية:</h5>
                        <div class="story maryam d-flex align-items-center gap-2 rounded-4 p-3 py-2 mx-auto my-3 border border-2 border-white">
                            <div class="right-side text-center">  
                                <h5 class="mb-0"><i class="fa-solid fa-book ms-2 fs-6"></i>مغامرة مريم والكتاب السحري</h5>
                                <img class="my-3 rounded-4" src="../..//static/images/الكتاب السحري.jpeg" alt=" فرحان">
                                <audio class="w-100 rounded-4" controls controlslist="nodownload noplaybackrate">
                                    <source id="audioSource" src="../../static/audio/activity/الكتاب السحري.mp3" type="audio/mpeg">
                                    المتصفح الخاص بك لا يدعم عنصر الصوت
                                </audio>
                            </div>
                            <p class="left-side text-end mb-0">
                                ذات يوم، كانت مريم تسير في طريقها إلى المدرسة عندما لاحظت مكتبة قديمة لم ترها من قبل.<br>
                                دفعها الفضول للدخول. كانت المكتبة مليئة بالكتب القديمة والمخطوطات، لكن شيئًا غريبًا جذب انتباهها.<br>
                                كان هناك كتاب كبير مفتوح على طاولة في المنتصف، وتوهجت صفحاته بلون ذهبي خافت.<br>
                                اقتربت مريم من الكتاب بحذر، وعندما لمسته، انفتح باب سحري أمامها.<br>
                                وجدت نفسها فجأة في عالم مليء بالقصص والشخصيات الخيالية.<br>
                                لكن سرعان ما أدركت أن هناك مشكلة كبيرة: الكلمات بدأت تختفي من الكتب، وإذا لم تُحل المشكلة، ستختفي كل القصص إلى الأبد!<br>
                            </p>
                            
                        </div>
                    </div>


                    <div class="quiz-wrapper">
                        <h5 class="prompt my-4 text-end">قم بسحب الإجابة الصحيحة وأفلتها داخل المربع:</h5>
                        <h5 class="mb-3 d-flex justify-content-center align-items-center"> 
                            <i class="fa-regular fa-comment fs-5 ms-1"></i>
                            ما المشكلة التي تواجه مريم في القصة؟
                        <div class="answers options">
                            <div class="confetti-right">
                                <span class="target rounded-3 me-3" data-accept="words">&nbsp;</span>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                                <i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i><i class="conf-i"></i>
                            </div>
                        </div>
                        </h5>
                        <ul class="drag-options options d-flex justify-content-center">
                            <li class="option" data-target="book"> <button class="button main-button m-1">مريم لا تجد كتابًا يناسبها</button></li>
                            <li class="option" data-target="words"> <button class="button main-button m-1">الكلمات تختفي من الكتب</button></li>
                        </ul> 
                    </div>
                </div>
                <div class="allQues-error-msg mt-5 text-danger text-center">قم بالإجابة على جميع الأسئلة لإنهاء النشاط</div>
            </div>

            <button class="carousel-control-prev h-50 top-50 translate-middle-y" type="button" id="carouselPrev"  data-bs-target="#carouselCaracthers" data-bs-slide="prev">
                <i class="fa-regular fa-circle-right"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next h-50 top-50 translate-middle-y" type="button" id="carouselNext" data-bs-target="#carouselCaracthers" data-bs-slide="next">
                <i class="fa-regular fa-circle-left"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>



    <!-- Modal3 > Shows When Questions Are Done -->
    <div class="modal modal3 fade modal-finishStory" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content align-items-center text-center">
                <div class="modal-header">
                    <h2 class="modal-title fs-3 d-flex align-items-center" id="exampleModalLabel">
                        <i class="fa-solid fa-star fs-5 ms-1" style="color: #FFD43B;"></i>
                        تهانينا
                        <i class="fa-solid fa-star fs-5 me-1" style="color: #FFD43B;"></i>
                    </h2>
                </div>
                <div class="modal-body">🌟 لقد انتهيت من النشاط بنجاح.🌟<br>المكان والزمان هما أساس كل قصة رائعة! المكان يجعل الأحداث تبدو حقيقية ومليئة بالحياة، والزمان يساعدنا نفهم متى تحدث الأشياء. عندما تختار المكان والزمان بعناية، تصبح قصتك ممتعة ومليئة بالإثارة للقارئ!</div>
                <a href="../activities/all_activities" class="mb-4 mt-3"><button type="button" class="btn button main-button" data-bs-dismiss="modal">ارجع للأنشطة</button></a>
            </div>
        </div>
    </div>

    <div class="back-activities text-start mt-5"> 
        <button class="back-activities-btn button main-button text-start"><i class="fa-solid fa-arrow-right-from-bracket"></i>  الرجوع للأنشطة</button>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // Click On Back To Activites
    document.querySelector(".back-activities-btn").addEventListener("click", () => {
        // Check if at least one question is answered
        if (
            Array.from(document.querySelectorAll(".options button")).some(button => button.classList.contains("active-right") || button.classList.contains("active-wrong")) ||
            Array.from(document.querySelectorAll(".quiz-wrapper .target")).some(img => img.classList.contains("active-right") || img.classList.contains("active-wrong")) 
       ){
            Swal.fire({
                title: 'مغادرة النشاط',
                text: "إذا غادرت الآن، قد تفقد إجاباتك الحالية. هل أنت متأكد أنك تريد المغادرة؟",
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: 'نعم',
                cancelButtonText: 'لا، أود إكمال النشاط',
                reverseButtons: true // Swaps the position of confirm and cancel buttons
            }).then(async (result) => { // تأكد من جعل الدالة داخل then متزامنة
                if (result.isConfirmed) {
                        window.location.href = '/activities/all_activities';
                    }
                })
            }
            else {
                window.location.href = '/activities/all_activities';
            }
    })

    var modal = new bootstrap.Modal(document.getElementById('modal'));

    const myCarousel = document.querySelector('#carouselCaracthers');
    const carousel = new bootstrap.Carousel(myCarousel, {
        wrap: false // Stops Going Back To First Section
    });
    // Hide And Display Arrows
    const nextButton = document.querySelector('#carouselNext');
    const prevButton = document.querySelector('#carouselPrev');
    prevButton.style.display = 'none';

    myCarousel.addEventListener('slid.bs.carousel', (event) => {
        const totalItems = document.querySelectorAll('#carouselCaracthers .carousel-item').length; // Number Of Items
        const currentIndex = event.to; // Current Item
        // Hide Prev Button If User In First Item
        if (currentIndex === 0) {
            prevButton.style.display = 'none';
        } else {
            prevButton.style.display = 'flex';
        }
       // Hide Next Button If User Reach Last Item
       if (currentIndex === totalItems - 1) {
        nextButton.style.display = 'none';
    } else {
        nextButton.style.display = 'flex'; 
    }

     // Check If All Answerd
     let allTrue = false; // Start as false
    if (
        document.querySelector(".options button.right").classList.contains("active-right") &&
        document.querySelector(".quiz-wrapper .target").classList.contains("active-right")
        ) {
            allTrue = true;
            modal.show();
            bigConfetti(); // Show Confetti
        }
    });

    // @@@@@@@@@ Multiple Choice Questions @@@@@@@@@
    function optionClick(button) {
        if (button.classList.contains("wrong")) {
            button.classList.add("active-wrong")
        }
        else {
            button.classList.add("active-right")
        }
    }

    
// التعامل مع السحب والإفلات
function allowDrop(event) {
    event.preventDefault();
}

function drag(event) {
    event.dataTransfer.setData('text', event.target.id);
}

function drop(event, correctAnswer) {
    event.preventDefault();
    const data = event.dataTransfer.getData('text');
    const draggedElement = document.getElementById(data);

    if (draggedElement.textContent === correctAnswer) {
        event.target.textContent = draggedElement.textContent;
        event.target.classList.add('success');
        event.target.classList.remove('error');
        
    } else {
        event.target.classList.add('error');
        setTimeout(() => {
            event.target.classList.remove('error');
           }, 1000); // إزالة اللون الأحمر بعد ثانية
    }
    
}

</script>
{% endblock %}